<style type="text/css">
    .navbar-default {
        background-color: #4e88c7;
        border-color: #e7e7e7;
    }
    .navbar{
        padding-top: -2%;
        padding-bottom: -2%;
        position: relative;
        min-height: 40px;
        padding: 1px 0;
        margin: 0;
        border: 0;
    }

    a:hover, a:focus{
        background-color: #fff;
    }
    a{
        color: #fff;
    }
    
    .nav li a.active{
        background-color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 768px){
        .navbar-nav > li > a{
            border-radius: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar{
            margin-bottom: 1px;
        }    
    }
    .navbar-default .navbar-nav>li>a{
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .navbar-default .navbar-nav>li>a.active{
        color: #777;
    }
    .navbar-default .navbar-nav>li>a.focus{
        color: #fff;
    }

    .navbar-collapse{
        padding-left: 0px;
    }


    .navbar-default .navbar-nav > li > a:hover,
     .navbar-default .navbar-nav > li > a:focus {
    color: #333333;
    background-color: rgb(255, 255, 255);
    /* margin-top: 1%; */
    }
    .RecruterInfer{
        margin-top: -1%;
    }
</style>
<div id="top">
    <div class="top-header">
        <div class="header_left">
            <img alt="logo" id="formIdForRoles:j_idt12" src="images/tl_logo.png">
        </div>
        <div class="second_logo"></div>
        <span class="RecruterInfer"><img src="images/louncher2.png" width="55px" height="48px"></span>
        <div class="matteroff">
            <div class="matteron">
                <img class="matteronUserPic" id="formIdForRoles:j_idt26" 
                ng-src="{{img_src}}" >
                
                <div class="nameLoginBlock">
                    <span class="givenName">{{logininfo[2]+" "+logininfo[3]}}</span><span class="last_login">{{logininfo[4]}}</span>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default" id="navbarhaeder">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li>
                <a ui-sref="home" ng-class="{active: $state.includes('home') || $state.includes('task')}">HOME</a>
            </li>
            <li>
                <a ui-sref="pages.profile.profile-about" ng-class="{active: $state.includes('pages.profile') || $state.includes('prof') || $state.includes('pages')}">HRIS</a>
            </li>

            <!-- <li>
                <a ui-sref="charts.flot-charts" ui-sref-active="active">Leave</a>
            </li>
            <li>
                <a ui-sref="photo-gallery.attendance" ui-sref-active="active">Attendance</a>
            </li>
            <li>
                <a  ui-sref="user-interface.payslip" ui-sref-active="active">Payroll</a>
            </li> -->
            <!-- <li>
                <a ui-sref="photo-gallery.attendance" ng-class="{active: $state.includes('photo-gallery')}">Attendance</a>
            </li> -->
            <li>
                <a ui-sref="photo-gallery.attendance" ng-class="{active: $state.includes('photo-gallery')}">Attendance</a>
            </li>
            <li>
                <a ui-sref="leave" ng-class="{active: $state.includes('leave')}">Leave</a>
            </li>
            <li>
                <a ui-sref="directory" ng-class="{active: $state.includes('directory')}">Directory</a>
            </li>
            <li>
                <a ui-sref="travelexpense.list" ng-class="{active: $state.includes('travelexpense')}">Travel Expense</a>
            </li>
            <!-- <li>
                <a  ui-sref="user-interface.payslip" ui-sref-active="active">Payroll</a>
            </li> -->
            
            
          </ul>
          
        </div><!--/.nav-collapse -->
      
    </nav>




    
    <script>

      $(".nav li").bind("click", function() {
        $(".nav li").removeClass("ui-state-active");
        $(this).addClass("ui-state-active");
      });

    </script> 
    <script>
    $(document).ready(function(){
      $("#clickrun").click(function(){
          $(".sidebar-inner").toggle();
      });
    });
    </script>
    <div class="sidenav" id="mySidenav">
        <div class="sidebar-inner c-overflow ng-scope mCustomScrollbar _mCS_1 mCS-autoHide" style="position: absolute;left: 0;right: 0;width:250px; display: none; overflow: visible; background: #ffffff">
            <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" id="mCSB_1" tabindex="0">
                <div class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" dir="ltr" id="mCSB_1_container" style="position: relative; top: 0px; left: 0px;">
                    <div class="profile-menu">
                        <a href="">
                        <div class="profile-pic"><img alt="" class="" src="img/profile-pics/16.png"></div>
                        <div class="profile-info">
                            {{logininfo[2]+" "+logininfo[3]}}<i class="zmdi zmdi-caret-down"></i>
                        </div></a>
                        <ul class="main-menu">
                            <li>
                                <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="pages.profile.profile-about" href="#/pages/profile/profile-about"><i class="zmdi zmdi-account"></i> View Profile</a>
                            </li>
                            <li>
                                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                            </li>
                            <li>
                                <a href="" ng-click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="main-menu">
                        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                            <a href=""><i class="zmdi zmdi-trending-up"></i>HOME</a>
                        </li>
                        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                            <a href=""><i class="zmdi zmdi-trending-up"></i>HIRS</a>
                            <ul>
                                <li class="active" data-ui-sref-active="active">
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="typography" href="#/typography"><i class="zmdi zmdi-home"></i> My Document</a>
                                </li>
                                <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }">
                                    <a href=""><i class="zmdi zmdi-collection-text"></i>My Details</a>
                                    <ul>
                                        <li>
                                            <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="pages.profile.profile-about" data-ui-sref-active="active" href="#/pages/profile/profile-about">Basic Details</a>
                                        </li>
                                        <!-- <li>
                                            <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="prof.employee.employee-about" data-ui-sref-active="active" href="#/prof/employee/employee-about">Employment Details</a>
                                        </li> -->
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                            <a href=""><i class="zmdi zmdi-trending-up"></i>LEAVE</a>
                            <ul>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="charts.flot-charts" data-ui-sref-active="active" href="#/charts/flot-charts">New Leave</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="charts.other-charts" data-ui-sref-active="active" href="#/charts/other-charts">My Leaves</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="charts.holiday-charts" data-ui-sref-active="active" href="#/charts/holiday-charts">Holiday Calendar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                            <a href=""><i class="zmdi zmdi-trending-up"></i>ATTENDANCE</a>
                            <ul>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.attendance" data-ui-sref-active="active" href="#/photo-gallery/attendance">PunchINOUT Raw</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.regularization" data-ui-sref-active="active" href="#/photo-gallery/regularization">My Regularization</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.myshift" data-ui-sref-active="active" href="#/photo-gallery/myshift">My Shift Details</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.myattendance" data-ui-sref-active="active" href="#/photo-gallery/myattendance">My Attendance</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.shiftrequest" data-ui-sref-active="active" href="#/photo-gallery/shiftrequest">Shift Request</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.task" data-ui-sref-active="active" href="#/photo-gallery/task">Task Reassignment</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.proxy" data-ui-sref-active="active" href="#/photo-gallery/proxy">Proxy Attendance</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.bulk" data-ui-sref-active="active" href="#/photo-gallery/bulk">BUlk Approval- Attendance</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.attendancedetails" data-ui-sref-active="active" href="#/photo-gallery/attendancedetails">Attendance Detail</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="photo-gallery.attendanceReport" data-ui-sref-active="active" href="#/photo-gallery/attendanceReport">Attendance Reports</a>
                                </li>
                            </ul>
                        </li>
                        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                            <a href=""><i class="zmdi zmdi-trending-up"></i>PAYROLL</a>
                            <ul>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.payslip" data-ui-sref-active="active" href="#/user-interface/payslip">Payslip</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.fbpplanner" data-ui-sref-active="active" href="#/user-interface/fbpplanner">FBP Planner</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.investment" data-ui-sref-active="active" href="#/user-interface/investment">Investment Declaration</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.ctcclaim" data-ui-sref-active="active" href="#/user-interface/ctcclaim">New CTC Claim</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.myclaims" data-ui-sref-active="active" href="#/user-interface/myclaims">My Claims</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.simulator" data-ui-sref-active="active" href="#/user-interface/simulator">Tax Simulator</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.submission" data-ui-sref-active="active" href="#/user-interface/submission">Investment Submission</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.form16" data-ui-sref-active="active" href="#/user-interface/form16">Form 16</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.voluntry" data-ui-sref-active="active" href="#/user-interface/voluntry">Voluntary Contribution</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.slip" data-ui-sref-active="active" href="#/user-interface/slip">Reimbursement Slip</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.hire" data-ui-sref-active="active" href="#/user-interface/hire">Car Hire</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.my12bb" data-ui-sref-active="active" href="#/user-interface/my12bb">My 12BB</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.payrollreport" data-ui-sref-active="active" href="#/user-interface/payrollreport">Payroll Report</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.viewpayslip" data-ui-sref-active="active" href="#/user-interface/viewpayslip">View PaySlip</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.16admin" data-ui-sref-active="active" href="#/user-interface/16admin">Form 16Admin</a>
                                </li>
                                <li>
                                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.carlease" data-ui-sref-active="active" href="#/user-interface/carlease">Car Lease</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" id="mCSB_1_scrollbar_vertical">
                <div class="mCSB_draggerContainer">
                    <div class="mCSB_dragger" id="mCSB_1_dragger_vertical" oncontextmenu="return false;" style="position: absolute; min-height: 50px; display: block; height: 447px; max-height: 587px;">
                        <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>

            <div class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" id="mCSB_1_scrollbar_horizontal">
                <div class="mCSB_draggerContainer">
                    <div class="mCSB_dragger" id="mCSB_1_dragger_horizontal" oncontextmenu="return false;" style="position: absolute; min-width: 50px; width: 0px; left: 0px;">
                        <div class="mCSB_dragger_bar"></div>
                    </div>
                    <div class="mCSB_draggerRail"></div>
                </div>
            </div>

        </div>
    </div>
</div>