<div class="sidebar-inner c-overflow ng-scope mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;">
    <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" id="mCSB_1" tabindex="0">
        <div class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" dir="ltr" id="mCSB_1_container" style="position: relative; top: 0px; left: 0px; width: 100%;">
            <div class="profile-menu">
                <a href="" toggle-submenu="">
                    <div class="profile-pic"><img alt="" class="" src="img/profile-pics/16.png"></div>
                    <div class="profile-info">
                    {{logininfo[2]+" "+logininfo[3]}}<i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="pages.profile.profile-about" href="#/pages/profile/profile-about"><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>

                    <li>
                        <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                    </li>

                    <li>
                        <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                    </li>

                    <li>
                        <a href="" ng-click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </div>

            <ul class="main-menu">
                
               <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                    <a href="" toggle-submenu=""><i class="zmdi zmdi-trending-up"></i>LEAVE</a>
                    <ul>
                        <li>
                            <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="charts.flot-charts" data-ui-sref-active="active" href="#/charts/flot-charts">New Leave</a>
                        </li>


                        <li>
                            <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="charts.other-charts" data-ui-sref-active="active" href="#/charts/other-charts">My Leaves</a>
                        </li>
                        <li>
                            <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="charts.holiday-charts" data-ui-sref-active="active" href="#/charts/holiday-charts">Holiday Calendar</a>
                        </li>
                    </ul>
                </li>
     
            </ul>

        </div>
    </div>

    <!-- <div class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" id="mCSB_1_scrollbar_vertical">
        <div class="mCSB_draggerContainer">
            <div class="mCSB_dragger" id="mCSB_1_dragger_vertical" oncontextmenu="return false;" style="position: absolute; min-height: 50px; display: block; height: 447px; max-height: 587px;">
                <div class="mCSB_dragger_bar" style="line-height: 50px;">
                </div>
            </div>


            <div class="mCSB_draggerRail"></div>
        </div>
    </div> -->


   <!--  <div class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" id="mCSB_1_scrollbar_horizontal" >
        <div class="mCSB_draggerContainer">
            <div class="mCSB_dragger" id="mCSB_1_dragger_horizontal" oncontextmenu="return false;" style="position: absolute; min-width: 50px; width: 0px; left: 0px;">
                <div class="mCSB_dragger_bar"></div>
            </div>


            <div class="mCSB_draggerRail"></div>
        </div>
    </div> -->
</div>