<div class="sidebar-inner c-overflow ng-scope mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;">
    <div class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" id="mCSB_1" tabindex="0">
        <div class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" dir="ltr" id="mCSB_1_container" style="position: relative; top: 0px; left: 0px; width: 100%;">
            <div class="profile-menu">
                <a href="" toggle-submenu="">
                    <div class="profile-pic"><img alt="" class="" src="img/profile-pics/16.png"></div>
                    <div class="profile-info">
                    {{logininfo[2]+" "+logininfo[3]}}<i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="pages.profile.profile-about" href="#/pages/profile/profile-about"><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>

                    <li>
                        <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
                    </li>

                    <li>
                        <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
                    </li>

                    <li>
                        <a href="" ng-click="logout()"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                    </li>
                </ul>
            </div>

        <ul class="main-menu">
                
            <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
                    <a href="" toggle-submenu=""><i class="zmdi zmdi-trending-up"></i>PAYROLL</a>
                <ul>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.payslip" data-ui-sref-active="active" href="#/user-interface/payslip">Payslip</a>
                    </li>
                    <li><a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.fbpplanner" data-ui-sref-active="active" href="#/user-interface/fbpplanner">FBP Planner</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.investment" data-ui-sref-active="active" href="#/user-interface/investment">Investment Declaration</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.ctcclaim" data-ui-sref-active="active" href="#/user-interface/ctcclaim">New CTC Claim</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.myclaims" data-ui-sref-active="active" href="#/user-interface/myclaims">My Claims</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.simulator" data-ui-sref-active="active" href="#/user-interface/simulator">Tax Simulator</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.submission" data-ui-sref-active="active" href="#/user-interface/submission">Investment Submission</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.form16" data-ui-sref-active="active" href="#/user-interface/form16">Form 16</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.voluntry" data-ui-sref-active="active" href="#/user-interface/voluntry">Voluntary Contribution</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.slip" data-ui-sref-active="active" href="#/user-interface/slip">Reimbursement Slip</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.hire" data-ui-sref-active="active" href="#/user-interface/hire">Car Hire</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.my12bb" data-ui-sref-active="active" href="#/user-interface/my12bb">My 12BB</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.payrollreport" data-ui-sref-active="active" href="#/user-interface/payrollreport">Payroll Report</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.viewpayslip" data-ui-sref-active="active" href="#/user-interface/viewpayslip">View PaySlip</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.16admin" data-ui-sref-active="active" href="#/user-interface/16admin">Form 16Admin</a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="user-interface.carlease" data-ui-sref-active="active" href="#/user-interface/carlease">Car Lease</a>
                    </li>
                </ul>
            </li>
        </ul>

        </div>
    </div>

    <!-- <div class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" id="mCSB_1_scrollbar_vertical">
        <div class="mCSB_draggerContainer">
            <div class="mCSB_dragger" id="mCSB_1_dragger_vertical" oncontextmenu="return false;" style="position: absolute; min-height: 50px; display: block; height: 447px; max-height: 587px;">
                <div class="mCSB_dragger_bar" style="line-height: 50px;">
                </div>
            </div>


            <div class="mCSB_draggerRail"></div>
        </div>
    </div> -->


    <!-- <div class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" id="mCSB_1_scrollbar_horizontal" >
        <div class="mCSB_draggerContainer">
            <div class="mCSB_dragger" id="mCSB_1_dragger_horizontal" oncontextmenu="return false;" style="position: absolute; min-width: 50px; width: 0px; left: 0px;">
                <div class="mCSB_dragger_bar"></div>
            </div>


            <div class="mCSB_draggerRail"></div>
        </div>
    </div> -->
</div>