<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Contact Information</h2>

        <!-- ngIf: pctrl.editInfo === 0 -->
        <ul class="actions ng-scope" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editInfoForm()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editInfo === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editInfo === 0 -->
        <div class="pmbb-view ng-scope" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Address Type</dt>
                <dd class="ng-binding">{{contactinfo[0]['addrType']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>When Available</dt>
                <dd class="ng-binding">{{contactinfo[0]['whenAvail']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Address Line1</dt>
                <dd class="ng-binding">{{contactinfo[0]['addrLine_1']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Address Line2</dt>
                <dd class="ng-binding">{{contactinfo[0]['addrLine_2']}}</dd>
            </dl>
            
        </div><!-- end ngIf: pctrl.editInfo === 0 -->

        <form ng-submit="updateContactInfo(addrtype, whenavail, addrline1, addrline2)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Address Type</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="addrtype" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">When Available</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="whenavail" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Address Line1</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input ng-model="addrline1" type="text" class="form-control">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Address Line2</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input ng-model="addrline2" type="text" class="form-control">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeInfoForm()">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editInfo === 1 -->
    </div>
</div>


<div class="pmb-block ng-scope">
    <div class="pmbb-header">


        <!-- ngIf: pctrl.editContact === 0 -->
        <ul class="actions ng-scope" data-ng-if="editContact === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editContactForm()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editContact === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editContact === 0 -->
        <div class="pmbb-view ng-scope" data-ng-if="editContact === 0">
            <dl class="dl-horizontal">
                <dt>Country</dt>
                <dd class="ng-binding">{{contactinfo[0]['country']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>State</dt>
                <dd class="ng-binding">{{contactinfo[0]['state']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>City</dt>
                <dd class="ng-binding">{{contactinfo[0]['city']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Pin Code</dt>
                <dd class="ng-binding">{{contactinfo[0]['pinCode']}}</dd>
            </dl>
            
        </div><!-- end ngIf: pctrl.editContact === 0 -->
        <form ng-submit="updateContactInfo1(country, state, city, pin)" class="pmbb-edit ng-pristine ng-valid" data-ng-if="editContact === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Country</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="country" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">State</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="state" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">City</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="city" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Pin Code</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pin" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeContactForm()">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editContact === 1 -->
    </div>
</div>
<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Emergency Contact</h2>

        <!-- ngIf: pctrl.editContact === 0 -->
        <ul class="actions ng-scope" data-ng-if="editmanager === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editManagerForm()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editContact === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editContact === 0 -->
        <div class="pmbb-view ng-scope" data-ng-if="editmanager === 0">
            <dl class="dl-horizontal">
                <dt>Contact Name</dt>
                <dd class="ng-binding">{{emergencycontactinfo[0]['name']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Contact Relationship</dt>
                <dd class="ng-binding">{{emergencycontactinfo[0]['relationship']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Mobile Number</dt>
                <dd class="ng-binding">{{emergencycontactinfo[0]['mobile']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Office Number</dt>
                <dd class="ng-binding">{{emergencycontactinfo[0]['officeNo']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Id</dt>
                <dd class="ng-binding">{{emergencycontactinfo[0]['email']}}</dd>
            </dl><dl class="dl-horizontal">
                <dt>Contact Address</dt>
                <dd class="ng-binding">{{emergencycontactinfo[0]['address']}}</dd>
            </dl>
            
        </div><!-- end ngIf: pctrl.editContact === 0 -->
        <form ng-submit="updateEmargencyContact(contactname, contactrelationship, mobileno, officenumber, email, contactaddress)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editmanager === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Contact Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="contactname" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Contact Relationship</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="contactrelationship" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Number</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="mobileno" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Office Number</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="officenumber" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">EmailId</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="email" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Contact Address</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="contactaddress" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeManagerForm()">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editContact === 1 -->
    </div>
</div>



</data>