<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>


<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> 
<span id="include" class="center-body-false">



    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel" id="newLeaveRequestForm:mainPanel">
  <div class="ui-panel-content ui-widget-content" id="newLeaveRequestForm:mainPanel_content">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId" id="newLeaveRequestForm:reqFldId">
      <div class="ui-panel-content ui-widget-content" id="newLeaveRequestForm:reqFldId_content">
        <div aria-live="polite" class="ui-messages ui-widget" id="newLeaveRequestForm:errorMessages">
        </div>
      </div>
    </div>
    <span id="newLeaveRequestForm:newLeaveRequestPanel1"><span id="newLeaveRequestForm:newLeaveRequestPanel12"></span></span>

    <div class="form_content fax_m">
      <span id="newLeaveRequestForm:newLeaveRequestPanel1"></span>

      <div class="panel_title">
        <span id="newLeaveRequestForm:newLeaveRequestPanel1"><span title="">Attendance Duration</span></span>
      </div>


      <div class="form_content_inner">
        <table>
          <tbody>
            <tr>
              <td class="td_labelCol"><label class="redColor">*</label><label for="newLeaveRequestForm:startdate_input" title="">Start Date:</label>
              </td>

              <td class="td_outputCol">
                <span class="leaveStartDate" id="newLeaveRequestForm:startdate"><input class="datepicker" type="text"></span>

                <div aria-live="polite" class="ui-message" id="newLeaveRequestForm:selectDateMessage">
                </div>
              </td>

              <td class="td_labelCol"><label class="redColor">*</label><label for="newLeaveRequestForm:enddate_input" title="">End Date:</label>
              </td>

              <td class="td_outputCol"><span class="leaveStartDate" id="newLeaveRequestForm:startdate"><input class="datepicker" type="text"></span>
              </td>
            </tr>


            <tr>
              <td><button aria-disabled="false" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success mrg ui-state-hover" id="searchForm:refresh" name="searchForm:refresh" role="button" type="submit"><span class="ui-button-text ui-c">refresh</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="listing_kb">
      <table width="100%">
        <tbody>
          <tr>
            <td align="left" class="titleTBnone" width="49%"><span class="heading-style"><span title="">Active Employee</span></span>
            </td>

            <td align="right" width="49%">
            </td>
          </tr>
        </tbody>
      </table>


      <div class="listing_kb_inner">
        <span id="newLeaveRequestForm:entitlementPanel22"></span>

        <table class="table-header" id="newLeaveRequestForm:leaveQuotaDetail" summary="Leave Quota Detail">
          <thead>
            <tr>
              <th scope="col">
                <div>
                  <p style="color: white; margin-bottom: -0.5px;">Employee Code</p>
                  <input name="" style="border-radius: 2px;width:130px; padding: 2px" type="text">
                </div>
              </th>

              <th scope="col">
                <div>
                  <p style="color: white; margin-bottom: -0.5px;">Employee Name</p>
                  <input type="" name="" style="border-radius: 2px;width:130px; padding: 2px">
                </div>
              </th>

              <th scope="col">
                <div>
                  <p style="color: white; margin-bottom: -0.5px;">Designation</p>
                  <input name="" style="border-radius: 2px; width:130px; padding: 2px" type="text">
                </div>
              </th>

              <th scope="col">
                <div>
                  <p style="color: white; margin-bottom: -0.5px; ">joining Date</p>
                  <input name="" style="border-radius: 2px; width:130px; padding: 2px" type="text">
                </div>
              </th>
              <th scope="col">
                <div>
                  <p style="color: white; margin-bottom: -0.5px;">Father Name</p>
                  <input name="" style="border-radius: 2px; width:130px;padding: 2px" type="text">
                </div>
              </th>
              <th scope="col">
                <!-- <div>
                  <p style="color: white; margin-bottom: -0.5px;"></p>
                  <input name="" style="border-radius: 2px;width:130px; padding: 2px" type="text">
                </div> -->
              </th>
              
            </tr>
          </thead>


          <tbody>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
            <tr>
              <td>demo</td>

              <td>EL</td>

              <td>15.0</td>

              <td>Pending</td>
              <td>Pending</td>
              <td><button id="bulkTaskForm:j_idt16082" name="bulkTaskForm:j_idt16082" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">View</span></button></td>
              

            </tr>
           




          </tbody>
        </table>
      </div>
    </div>

   

       


      
          
          
          


          