<style type="text/css">
    .center-body-false .ui-datatable table thead tr th, .table-header thead tr th {
    background: #1565c0;
}
</style>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
  <div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> 



<span id="include" class="center-body-false" style="height:880px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm" method="post" action="/home.jsf?cid=2" class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel">
    <div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content">
    <div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId">
    <div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content">
    <div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div>
    </div>
    </div>



   

        <div class="listing_kb">
          <table width="100%">
            <tbody><tr>
              <td width="49%" align="left" class="titleTBnone"><span class="heading-style"><span title="">SELECT EMPLOYEE</span>
              </span></td>
              <td width="49%" align="right"></td>
            </tr>
          </tbody></table>
          <div class="listing_kb_inner"><span id="newLeaveRequestForm:entitlementPanel22"><table id="newLeaveRequestForm:leaveQuotaDetail" class="table-header" summary="Leave Quota Detail">
<thead>
<tr>
<th scope="col">
  <div>
                        <p style="color: white; margin-bottom: -0.5px;">Employee Code</p>
                        <input type="text" name="" style="border-radius: 2px; padding: 2px">
                      </div>  
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">First Name</p>
                        <input type="text" name="" style="border-radius: 2px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Last Name</p>
                        <input type="text" name="" style="border-radius: 2px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">User Name</p>
                        <input type="text" name="" style="border-radius: 2px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white; margin-bottom: -0.5px;">Designation</p>
                        <input type="text" name="" style="border-radius: 2px; padding: 2px">
                      </div>
</th>

</tr>
</thead>
<tbody>
<tr>
    <td> EL </td>
    <td> demo</td>
    <td> demo </td>
    <td> demo </td>
    <td> demo</td>
    
    
</tr>
<tr>
    <td> demo </td>
    <td> demo </td>
    <td> dmeo </td>
    <td> demo </td>
    <td> demo </td>
    
    
</tr>
</tbody>
</table>
</span>

          </div>
        </div>  






        
       


          </div>
        </div>  


      </div></div>


        </span>