
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-50 mdl-color-text--blue-grey-50">
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-50">
      <aside id="leftMenuItems" style="text-align:left;" data-ng-include="" src="'template/payroll-sidebar.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" class="ng-scope">
      </aside>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
  
    <section id="content" class="page-view ng-scope" data-ui-view="">
    </section>
  </main>
</div>
    
   

