<!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css"> -->
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
</script>
<style>
  .form_content_inner{
    min-height: 550px;
  }
  .dt-buttons{
    display: none;
  }
  #vehicle-table{
    width: 100% !important;
  }
  #vehicle-table thead tr th, #vehicle-table tbody tr td{
    width: auto !important;
  }
  .sorting_asc{
    padding-left: 0px !important;
  } 
  .sorting_1{
    padding-left: 15px !important;
  }
  .btn-group-div{
    width: 20%;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: -4%;
  }
  .btn-group-div .btn{
    margin-left: 3%;
    background-color: #4e88c7;
  }
</style>

<div class="mdl-grid demo-content"> 
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> 
    <span class="center-body-false" >

      <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-content ui-widget-content">

          <span>
            <span>
              <div class="form_content fax_m">
                <div class="panel_title">
                  <span title="">NEW CTC CLAIM</span>
                </div>
                <div class="btn-group-div">
                  <button type="button" class="btn btn-secondary" ng-click="approveSalary()">Approve</button>
                  <button type="button" class="btn btn-secondary">Reject</button>
                </div>
                <div class="form_content_inner">
                  
                </div>
              </div>
            </span>
          </span>

        </div>
      </div>
    </span>
  </div>
</div>
