<ul class="tab-nav tn-justified ng-scope" >
	<li class="btn-wave ng-scope active" data-ui-sref-active="active">
		<a data-ui-sref="pages.profile.profile-about" href="#/pages/profile/profile-about">Basic Details</a>
	</li>
	<li class="btn-wave ng-scope" data-ui-sref-active="active">
		<a data-ui-sref="pages.profile.profile-timeline" href="#/pages/profile/profile-timeline">Position Details</a>
	</li>
	<li class="btn-wave ng-scope" data-ui-sref-active="active">
		<a data-ui-sref="pages.profile.profile-photos" href="#/pages/profile/profile-photos">Contact Details</a>
	</li>
	<li class="btn-wave ng-scope" data-ui-sref-active="active">
		<a data-ui-sref="pages.profile.profile-connections" href="#/pages/profile/profile-connections">Family Details</a>
	</li>
</ul>