 <div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i>Bank Information</h2>

        <ul class="actions ng-scope" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editBasic()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="pmbb-body p-l-30">
        
        <div class="pmbb-view ng-scope" data-ng-if="editInfo === 0">
            
            <dl class="dl-horizontal">
                <dt>Bank Name</dt>
                <dd class="ng-binding">{{bankdetail['bankName']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Bank Account Number</dt>
                <dd class="ng-binding">{{bankdetail['accNo']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Account Type</dt>
                <dd class="ng-binding">{{bankdetail['accType']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Branch Name</dt>
                <dd class="ng-binding">{{bankdetail['branchName']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Branch Address</dt>
                <dd class="ng-binding">{{bankdetail['branchAddr']}}</dd>
            </dl>
            <br>
            <dl class="dl-horizontal">
                <dt>IFSC Code</dt>
                <dd class="ng-binding">{{bankdetail['ifscCode']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Account Holder Name</dt>
                <dd class="ng-binding">{{bankdetail['accHolder']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Reimbursment Account</dt>
                <dd class="ng-binding">{{bankdetail['reimbursementAcc']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Salary Account</dt>
                <dd class="ng-binding">{{bankdetail['salaryAcc']}}</dd>
            </dl>

        </div>

        <form ng-submit="updateBankInfo(bank, account, acctype, branch, address, ifsc, accholder, reinacc, salaryacc)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Bank Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="bank" type="text" class="form-control ng-pristine ng-untouched ng-valid" >
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Bank Account Number</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="account" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Account Type</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="acctype" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Branch Name</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="branch">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Branch Address</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="address">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">IFSC Code</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="ifsc">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Account Holder Name</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="accholder">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Reimbursment Account</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="reinacc">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Salary Account</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="salaryacc">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeBasic()">Cancel</button>
            </div>
        </form>

    </div>
</div>
