 <div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i>ID Information</h2>

        <ul class="actions ng-scope" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editBasic()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="pmbb-body p-l-30">
        
        <div class="pmbb-view ng-scope" data-ng-if="editInfo === 0">
            
            <dl class="dl-horizontal">
                <dt>ID Type</dt>
                <dd class="ng-binding">{{iddetail['idType']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Number</dt>
                <dd class="ng-binding">{{iddetail['number']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Date Of Issue</dt>
                <dd class="ng-binding">{{iddetail['dateOfIssue']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Place Of Issue</dt>
                <dd class="ng-binding">{{iddetail['placeOfIssue']}}</dd>
            </dl>
            <br>
            <dl class="dl-horizontal">
                <dt>Issuing Authority</dt>
                <dd class="ng-binding">{{iddetail['issueingAuthority']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Name On Document</dt>
                <dd class="ng-binding">{{iddetail['nameOnDocument']}}</dd>
            </dl>
            
        </div>

        <form ng-submit="updateIdInfo(idtype, number, issuedate, issueplace, authority, name)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">ID Type</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="idtype" type="text" class="form-control ng-pristine ng-untouched ng-valid" >
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Number</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="number" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Date Of Issue</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="issuedate" type="text" class="form-control ng-pristine ng-untouched ng-valid" disabled="true">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Place Of Issue</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="issueplace">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Issuing Authority</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="authority">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Name On Document</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="name">
                    </div>
                </dd>
            </dl>
            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeBasic()">Cancel</button>
            </div>
        </form>

    </div>
</div>
