<div >
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
           
            <table class="table table-hover table-striped" id="bootstrap-table">
                <thead>
                    <tr>
                        <th>#ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Employee Code</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in employeelist" ng-if="lmanagercode==list.l1manager">
                        <td>{{list.id}}</td>
                        <td>{{list.firstname}} {{list.lastname}}</td>
                        <td>{{list.personalEmail}}</td>
                        <td>{{list.empCode}}</td>
                        <td><a ui-sref="prof.employeelist.edit.basic({id: list.empCode})">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- <script src="http://www.jqueryscript.net/demo/jQuery-Plugin-For-Bootstrap-Based-Data-Table-Bootstrap-Data-Table/js/vendor/jquery.sortelements.js"></script>
<script src="http://www.jqueryscript.net/demo/jQuery-Plugin-For-Bootstrap-Based-Data-Table-Bootstrap-Data-Table/js/jquery.bdt.js"></script> -->
<script>
    $(document).ready( function () {
        $('#bootstrap-table').bdt();
    });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>