<style>
    /* .pmbb-view{
        border-style:solid;
        border-width:2px;  
        border-color:transparent transparent transparent #00fff3;
    }
    .pmbb-view::before{
        content: '\03a8';
        padding-right: 5px;
        color: #00fff3;
        transform: scale(.5);
        zoom: 200%;
        top: 0px;
        position: relative;
        left: -1.8%;
    } */
</style>

<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Personal Information</h2>

        <ul class="actions ng-scope" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editBasic()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
        <div class="pmbb-body p-l-30">
        
        <div class="pmbb-view ng-scope" data-ng-if="editInfo === 0">
            
            <dl class="dl-horizontal">
                <dt>Company Name</dt>
                <dd class="ng-binding">{{pastemp['companyName']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employee Code</dt>
                <dd class="ng-binding">{{pastemp['empCode']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Title</dt>
                <dd class="ng-binding">{{pastemp['title']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Start Date</dt>
                <dd class="ng-binding">{{pastemp['startDate']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>End Date</dt>
                <dd class="ng-binding">{{pastemp['endDate']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Role</dt>
                <dd class="ng-binding">{{pastemp['role']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employement Type</dt>
                <dd class="ng-binding">{{pastemp['empType']}}</dd>
            </dl>

        </div>


        <form ng-submit="updatePersonalInfo(companyname, empcode, title, startdate, enddate, role, emptype)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Company Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="companyname" type="text" class="form-control ng-pristine ng-untouched ng-valid" >
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employee Code</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="empcode" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Title</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="title" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Start Date</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="startdate">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">End Date</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="enddate">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Role</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="role">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employement Type</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="emptype">
                            <option value="permanent">Permanent</option>
                            <option value="temporary">Temporary</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeBasic()">Cancel</button>
            </div>
        </form>

    </div>
</div>

    </div>
</div>
