<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
    $( function() {
      $( ".datepicker" ).datepicker();
    } );
  </script>
<div class="mdl-grid demo-content"> 
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> 
    <span id="include" class="center-body-false">

        <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
        <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
          <div class="ui-panel-content ui-widget-content">
            <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
              <div class="ui-panel-content ui-widget-content">
                <div class="ui-messages ui-widget" aria-live="polite"></div>
              </div>
            </div>

            <span>
              <span>
              <div class="form_content fax_m">
                <div class="panel_title"><span title="">EMPLOYEE INFORMATION</span></div>
                <div class="form_content_inner">
                  <table>
                    <tbody>
                      <tr>
                        <td class="td_labelCol">
                          <label title="">Employee Code:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.empCode}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">Employee Name:</label>
                        </td>
                        <td class="td_outputCol">
                          <span >{{paydetails.name}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:startdate_input" title="">Date Of Joining</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.dateofjoining}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:enddate_input" title="">Designation:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.designation}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">Grade:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.grade}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        <td class="td_labelCol">
                          <label for="newLeaveRequestForm:commentsTxtId" title="">Location:</label></td>
                        <td class="td_outputCol">
                          <span>Noida.Delhi</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="td_labelCol">
                          <label title="">Organisation Unit:</label>
                        </td>
                        <td class="td_outputCol"><span >1.0</span></td>
                        <td class="td_labelCol"></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
          </div>
        </span>
      </span>

      <div class="listing_kb">
        <div class="listing_kb_inner">
          <span>
            <div class="ui-datatable ui-widget table-header">
              <div class="ui-datatable-tablewrapper">
                <table role="grid" summary="New Leave Request Leave Details"></table>
              </div>
            </div>
          </span>
        </div>
      </div>
      <div class="listing_kb">
        <table width="100%">
          <tbody>
            <tr>
              <td width="50%" align="left" class="titleTBnone">
                <span class="heading-style">
                  <span title="">FLEXIBLE COMPONENT</span>
                </span>
              </td>
              <td width="50%" align="right"></td>
            </tr>
          </tbody>
        </table>
        <div class="listing_kb_inner">
          <span>
            <table class="table-header" summary="Leave Quota Detail">
              <thead>
                <tr>
                  <th scope="col"><span title="">Pay Component</span></th>
                  <th scope="col"><span title="">Maximum Amount</span></th>
                  <th scope="col"><span title="">plan amount</span></th>
                  <th scope="col"><span title="">Monthly Entitlement</span></th>
                  <th scope="col"><span title="">Prorated Entitlement</span></th>
                  <th scope="col"><span title="">instruction</span></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in fbpdetails">
                  <td>{{list.payComponent}}</td>
                  <td>{{list.MaximumAmount}}</td>
                  <!-- <td><input type="text" value="26400.0"></td> -->
                  <td>{{list.PlanAmount}}</td>
                  <td>{{list.MonthlyEntitlement}}</td>
                  <td>{{list.ProratedEntitlement}}</td>
                  <td>              
                    <a href="#"><li class= "zmdi zmdi-my-location"></li> </a>             
                  </td>
                </tr>
              </tbody>
            </table>
          </span>
        </div>
      </div>
      <div class="ui-panel ui-widget ui-widget-content ui-corner-all" style="border:0px;">
        <div id="fbpStructureForm:j_idt14338_content" class="ui-panel-content ui-widget-content"></div>
      </div>
      <!-- <div class="ui-panel ui-widget ui-widget-content ui-corner-all listing_content" style="border:0px;" >
        <div class="ui-panel-content ui-widget-content">
          <span class="heading-style"><label title="">DISCLAIMER</label></span>
          <div class="ui-panel ui-widget ui-widget-content ui-corner-all listing_content_inner declaration_align" style="border:0px;">
            <div class="ui-panel-content ui-widget-content">
              <input type="checkbox" name="fbpStructureForm:disclaimer" checked="checked" class="margin_r10 check_bk">
              <label class="label_bk">I hereby declare that all the declarations submitted by me are correct and accurate and        I am solely responsible for any income tax liability arising out of a wrong        declaration. Further, any Incorrect bills/tampered documents submitted shall considered as violation        of the code of conduct and will attract disciplinary actions against me.</label>
            </div>
          </div>
        </div>
      </div> -->

      <div class="NLleave">
        <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
          <div class="ui-panel-content ui-widget-content">
            <button name="newLeaveRequestForm:updateDown" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
              <span class="ui-button-text ui-c">BACK</span>
            </button>
            <!-- <button name="newLeaveRequestForm:done" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
              <span class="ui-button-text ui-c">SUBMIT</span>
            </button>
            <button name="newLeaveRequestForm:done" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
              <span class="ui-button-text ui-c">CANCEL</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</span>