<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>



<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> <span id="include" class="center-body-false" style="height:880px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm"  class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel"><div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId"><div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div></div></div><span id="newLeaveRequestForm:newLeaveRequestPanel1"><span id="newLeaveRequestForm:newLeaveRequestPanel12">
          <div class="form_content fax_m">
            <div class="panel_title"><span title="">LEAVE REQUEST</span>
            </div>

            <div class="form_content_inner"><table>
<tbody>



<tr>
<td class="td_labelCol">
<label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">
Leave Reason:</label>
</td>
<td class="td_outputCol">

<select id="newLeaveRequestForm:leaveReasondropDown1_input" name="" tabindex="-1">
<option value="" selected="selected">Please Select Year</option>
<option value="2015-2016">2015-2016</option>
<option value="2016-2017">2016-2017</option>
<option value="2017-2018">2017-2018</option>


</select>

</td>

</tr>


</tbody>
</table>


            </div>
          </div></span></span>
    
        </div>
        



      <div class="NLleave" style="padding-bottom:320px;"><div id="newLeaveRequestForm:btnFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_btnFldId"><div id="newLeaveRequestForm:btnFldId_content" class="ui-panel-content ui-widget-content"><a href="media/12.pdf"><button id="newLeaveRequestForm:updateDown"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title=""  role="button" aria-disabled="false"><span class="ui-button-text ui-c">DOWNLOAD FORM 16</span></a></button></div></div>
      </div></div></div>

        </span>