<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">  
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="css/material.cyan-light_blue.min.css">
<link rel="stylesheet" href="css/new.css">
<style type="text/css">
  #headingpara{
    margin: 0 0 0px;
    font-weight: bold;
    font-size: 16px;
  }
  #headingDiv{
    padding: 12px;
    text-align: center;
  }
</style>
<style type="text/css">
  .ui-datepicker td.holiday a, .ui-datepicker td.holiday a:hover {
    background: url(../images/holiday.png);
    background-size: 25px;
    background-position: center;
    color: transparent !important;
    background-repeat: no-repeat;
    border-radius: 0 !important;
}
 </style>


<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">    
  
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-50 mdl-color-text--blue-grey-50">
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-50">
      <aside id="leftMenuItems" style="text-align:left;" data-ng-include="" src="'template/home-sidebar.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" class="ng-scope">
      </aside>
    </nav>
  </div>
      
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">      
      <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        <label class="heading-style" style="font-size:18px;">Welcome</label>
			  <label style="font-size:14px;">
			   <p>Welcome to our new <strong>HRMS</strong>. This portal is divided into various sections : -
         <br><br><strong>Profile</strong> – Here you get an insight to your personal and employment information. You will have the rights to make/initiate changes to this information with necessary approvals.<br><br><strong>HRIS</strong>– HRIS will be accessible to Managers. Managers will be able to view the profile information of their team in this section. All profile change requests of the team will be routed to the HR Team for approval.<br><br><strong>Leave &amp; Attendance</strong> – You can view leave balance and raise leave request under this section. Managers will be able to view / approve / reject leave requests initiated by their team members.<br><br>We wish you a wonderful experience!!</p>
        </label>

			  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
          <header class="mdl-layout__header mdl-color--blue-800">
            <div id="searchHead" style="padding:10px;">
              <div>

                <div class="mdl-cell--3-col widthsec" style="display: inline-block;">
                  <p style="color: white; text-align: center; margin-bottom: -0.5px;">Task Code</p>
                  <input type="text" name="" style="border-radius: 2px; padding: 2px; margin: auto;">
                </div>

                <div class="mdl-cell--3-col widthsec" style="display: inline-block;">
                  <p style="color: white; text-align: center; margin-bottom: -0.5px">Employee Name</p>
                  <input type="text" name="" style="border-radius: 2px; padding: 2px; margin: auto;">
                </div>

                <div class="mdl-cell--3-col widthsec" style="display: inline-block;">
                  <p style="color: white; text-align: center; margin-bottom: -0.5px">Stage</p>
                  <input type="text" name="" style="border-radius: 2px; padding: 2px; margin: auto;">
                </div>

                <div class="mdl-cell--3-col widthsec" style="display: inline-block;">
                  <p style="color: white; text-align: center; margin-bottom: -0.5px">Status</p>
                  <input type="text" name="" style="border-radius: 2px; padding: 2px; margin: auto;">
                </div>

              </div>
            </div>
          </header>
          <main class="mdl-layout__content">
             <div class="page-content">You have no open task</div>
          </main>
        </div>

      </div>

      <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop" style="padding-top: 10px; padding-bottom: 10px;"> 
          <!-- Calendar -->
          <div id="datepicker" style="margin-left: auto; margin-right: auto;"></div>
        </div>

        <div class="demo-separator mdl-cell--1-col"></div>

        <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
          <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50" id="headingDiv">
            <p id="headingpara">Happy Birthday</p>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <ul style="width:100%">
              <li ng-repeat="list in birthdaylist" style="color: white">
              <span style="margin-right: 10%"><img src="images/birthday.png" width="20px" height="20px"></span>{{list.firstName + " " + list.lastName}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<script src="js/jquery-ui.js"></script>
<script>
var holiDays =[[2017,09,01,'New Years Day'],[2017,09,14,'Pongal'],[2017,09,25,'Christmas Day']];
var holidaylist = [];
$.ajax({
  url: "https://gapapi-100.appspot.com/api/upcoming/holiday/",
  method: 'post', 
  success: function(result){
        // console.log(result.holiday_data);
        var holidayresult = result.holiday_data;
       
        for(i = 0; i<holidayresult.length; i++){
           var hdlist = [];

          var month = holidayresult[i]['date'].split("/")[0];
          console.log(month);
          var day = holidayresult[i]['date'].split("/")[1];
          var year = holidayresult[i]['date'].split("/")[2];
          var holidayname = holidayresult[i]['holiday'];
          hdlist.push(parseInt(year));
          hdlist.push(parseInt(month));
          hdlist.push(parseInt(day));
          hdlist.push(holidayname);
          holidaylist.push(hdlist);
        }

        var holiDays = holidaylist;

        $(function(){
          $('#datepicker').datepicker({ 
            beforeShowDay: setHoliDays,
            onSelect: function(dt){
                // window.open("http://www.google.com?dt=" + dt);

                $("#calcontents").text(dt);
            }

         });

          function setHoliDays(date) {
             for (i = 0; i < holiDays.length; i++) {
               if (date.getFullYear() == holiDays[i][0]
                  && date.getMonth() == holiDays[i][1] - 1
                    && date.getDate() == holiDays[i][2]) {
                  return [true, 'holiday', holiDays[i][3]];
               }
             }
            return [true, ''];
          }


      });
        
    }});



  // $(function(){
  //     $('#datepicker').datepicker({ 
  //       // beforeShowDay: setHoliDays,
  //       onSelect: function(dt){
  //           // window.open("http://www.google.com?dt=" + dt);

  //           $("#calcontents").text(dt);
  //       }

  //    });


  // });






</script>

    