<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
</script>

<style>
  .sectionfirst{
    margin: 0px 0 15px 0;
    font-size: 14px;
    color: #636466;
    font-weight: bold;
  }
  .table-header thead tr th span{
    font-size: 12px;
    color: #636466!important;
  }
  .table-header tbody tr td{
    font-size: 12px;
  }
  .demo-graphs{
    padding: 0px 0px !important;
  }
  .table-header{
    border: 1px solid #dddddd;
  }
  textarea{
    height: 50px;
    resize: none;
  }
  input{
    padding: 3px !important;
    padding-left: 0px !important;
  }
</style>

<div class="mdl-grid demo-content"> 
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> 
    <span id="include" class="center-body-false">

      <!-- Section Start -->
      <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
        <div class="ui-panel-content ui-widget-content">
          <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
            <div class="ui-panel-content ui-widget-content">
              <div class="ui-messages ui-widget" aria-live="polite"></div>
            </div>
          </div>

          <span>
            <span>
              <div class="form_content fax_m">
                <div class="panel_title">
                  <span title="">EMPLOYEE INFORMATION</span>
                </div>
                <div class="form_content_inner">
                  <table>
                    <tbody>
                      <tr>
                        <td class="td_labelCol"><label title="">Employee Code:</label></td>
                        <td class="td_outputCol">
                          <span>{{paydetails.empCode}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">Employee Name:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.name}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        </tr>
                        <tr>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:startdate_input" title="">Date Of Joining</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.dateofjoining}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:enddate_input" title="">Designation:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.designation}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="td_labelCol">
                          <label class="redColor">*</label>
                          <label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">Grade:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>{{paydetails.grade}}</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                        <td class="td_labelCol">
                          <label for="newLeaveRequestForm:commentsTxtId" title="">Location:</label>
                        </td>
                        <td class="td_outputCol">
                          <span>Noida.Delhi</span>
                          <div aria-live="polite" class="ui-message"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="td_labelCol">
                          <label title="">Organisation Unit:</label>
                        </td>
                        <td class="td_outputCol"><span>1.0</span></td>
                        <td class="td_labelCol"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </span>
          </span>

          <div class="listing_kb">
            <table width="100%">
              <tbody>
                <tr>
                  <td width="50%" align="left" class="titleTBnone">
                    <span class="heading-style">
                      <h3 class="sectionfirst">VIA</h3>
                    </span>
                  </td>
                  <td width="50%" align="right"></td>
                </tr>
              </tbody>
            </table>
            <div class="listing_kb_inner">
              <span>
                <table class="table-header" summary="Leave Quota Detail">
                  <thead>
                    <tr>
                      <th scope="col"><span title="">Section Name</span></th>
                      <th scope="col"><span title="">Maximum Amount</span></th>
                      <th scope="col"><span title="">Declared amount</span></th>
                      <th><span>Actual Amount</span></th>
                      <th><span>Approved Amount</span></th>
                      <th><span>Document</span></th>
                      <th><span>Approver Remarks</span></th>
                    </tr>
                  </thead>
                    <tbody>
                      <tr ng-repeat="list in taxdata" ng-if="list.taxType=='VIA'">
                        <td style="width:35%">{{list.sectionName}}</td>
                        <td>{{list.maxAmount}}</td>
                        <td><input type="text" ng-value="list.declaredAmount"></td>
                        <td><input type="text" ng-value="list.actualAmount"></td>
                        <td><input type="text" ng-value="list.approvedAmount"></td>
                        <td><a href="">attach</a></td>
                        <td style="padding-right:5px"><textarea name="" id="" cols="30" rows="5"></textarea></td>
                      </tr>
                    </tbody>
                  </table>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- section ending -->

        <!-- section start -->
        <div class="listing_kb_inner">
          <span>
            <table class="table-header" summary="Leave Quota Detail">
               <h3 class="sectionfirst">80C</h3>
              <thead>
                <tr>
                  <th scope="col"><span title="">Section Name</span></th>
                  <th scope="col"><span title="">Maximum Amount</span></th>
                  <th scope="col"><span title="">Declared amount</span></th>
                  <th scope="col"><span title="">Actual amount</span></th>
                  <th scope="col"><span title="">Approved amount</span></th>
                  <th scope="col"><span title="">Document</span></th>
                  <th scope="col"><span title="">Approver Remarks</span></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="list in taxdata" ng-if="list.taxType=='80C'">
                  <td style="width:35%">{{list.sectionName}}</td>
                  <td>{{list.maxAmount}}</td>
                  <td><input type="text" ng-value="list.declaredAmount"></td>
                  <td><input type="text" ng-value="list.actualAmount"></td>
                  <td><input type="text" ng-value="list.approvedAmount"></td>
                  <td><a href="">attach</a></td>
                  <td style="padding-right:5px"><textarea name="" id="" cols="30" rows="5"></textarea></td>
                </tr>
              </tbody>
            </table>
          </span>
        </div>
        <!-- section end -->
        <!-- section start -->
        <div class="listing_kb_inner" style="padding-top:30px;">
          <span>
            <table style="overflow-x:auto; display:inline-block" class="table-header" summary="Leave Quota Detail"> 
              <h3 class="sectionfirst">HOUSE RENT DETAILS</h3>
              <thead>
                <tr>
                  <th scope="col"><span title="">S.No</span></th>
                  <th scope="col"><span title="">From Date</span></th>
                  <th scope="col"><span title="">To Date</span></th>
                  <th scope="col"><span title="">City</span></th>
                  <th scope="col"><span title="">Landlord Name</span></th>
                  <th scope="col"><span title="">Address</span></th>
                  <th scope="col"><span title="">PAN No</span></th>
                  <th scope="col"><span title="">Declared Amount</span></th>
                  <th scope="col"><span title="">Actual Amount</span></th>
                  <th scope="col"><span title="">Approved Amount</span></th>
                  <th scope="col"><span title="">Document</span></th>
                  <th scope="col"><span title="">Approver Remarks</span></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>
                    <span id="newLeaveRequestForm:startdate" class="leaveStartDate">
                      <input type="text" class="datepicker">
                    </span>
                  </td>
                  <td>
                    <span id="newLeaveRequestForm:startdate" class="leaveStartDate">
                      <input type="text" class="datepicker">
                    </span>
                  </td>
                  <td>
                    <select id="city">
                      <option> delhi</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" style="width:95px;">
                  </td>
                  <td>
                    <input type="text" style="width:95px;">
                  </td>
                  <td>
                    <input type="text" style="width:95px;">
                  </td>
                  <td>
                    <input type="text" style="width:95px;" value="0.00">
                  </td>
                  <td>
                    <a href="#">Attached</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- section end -->
          <div class="listing_kb_inner" style="padding-top:30px;">
            <span>
              <table class="table-header" summary="Leave Quota Detail">
                 <h3 class="sectionfirst">OTHER INCOME</h3>
                <thead>
                  <tr>
                    <th scope="col"><span title="">Section Name</span></th>
                    <th scope="col"><span title="">Maximum Amount</span></th>
                    <th scope="col"><span title="">Declared amount</span></th>
                    <th scope="col"><span title="">Actual amount</span></th>
                    <th scope="col"><span title="">Approved amount</span></th>
                    <th scope="col"><span title="">Document</span></th>
                    <th scope="col"><span title="">Approver Remarks</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="list in taxdata" ng-if="list.taxType=='OTHER INCOME'">
                    <td style="width:35%">{{list.sectionName}}</td>
                    <td>{{list.maxAmount}}</td>
                    <td><input type="text" ng-value="list.declaredAmount"></td>
                    <td><input type="text" ng-value="list.actualAmount"></td>
                    <td><input type="text" ng-value="list.approvedAmount"></td>
                    <td><a href="">attach</a></td>
                    <td style="padding-right:5px"><textarea name="" id="" cols="30" rows="5"></textarea></td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>

          <div class="NLleave" style="margin-top:10px">
            <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
              <div class="ui-panel-content ui-widget-content">
                <button name="newLeaveRequestForm:updateDown" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false">
                  <span class="ui-button-text ui-c">SAVE</span>
                </button>
                <button name="newLeaveRequestForm:done" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
                  <span class="ui-button-text ui-c">SUBMIT</span>
                </button>
                <button name="newLeaveRequestForm:done" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
                  <span class="ui-button-text ui-c">CANCEL</span>
                </button>
              </div>
            </div>
          </div>
        </div>
</div>

<script>
  var c = 0;
  myFunc();
  function myFunc(){
    c=10;
    console.log(c);
  }
 
  
</script>

