 <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>



<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> <span id="include" class="center-body-false" style="height:880px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm" method="post" action="/home.jsf?cid=2" class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel"><div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId"><div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div></div></div><span id="newLeaveRequestForm:newLeaveRequestPanel1"><span id="newLeaveRequestForm:newLeaveRequestPanel12">
          <div class="form_content fax_m" style="height:100px;">
            <div class="panel_title"><span title="">PAY SLIP</span>
            </div>

            <div class="form_content_inner"><table>
<tbody><!--  -->

<tr>
<td class="td_labelCol">
<label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">
Select Year:</label>
</td>
<td class="td_outputCol">

<select id="newLeaveRequestForm:leaveReasondropDown1_input" style="width:231px;height:30px;" name="" tabindex="-1">
<option value="" selected="selected">Select Financial Year</option>
<option value="2015-2016" >2015-2016</option>
<option value="2016-2017">2016-2017</option>
</select>

</td>

<td class="td_outputCol">
  <div class="NLleave" ><div id="newLeaveRequestForm:btnFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_btnFldId"><div id="newLeaveRequestForm:btnFldId_content" class="ui-panel-content ui-widget-content"><button id="newLeaveRequestForm:updateDown" name="newLeaveRequestForm:updateDown" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">DOWNLOAD</span></button></div></div><div id="newLeaveRequestForm:j_idt1848" aria-live="polite" class="ui-message"></div></td>
</tr>
</tbody>
</table>
</div>
</div></span>      
</span>