<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
   
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
</script>


<div class="mdl-grid demo-content"> 
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> 
    <span id="include" class="center-body-false">
      <form method="post" class="colorBackground" enctype="multipart/form-data">
        <input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">

    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
        <div id="" class="ui-panel" >
          <div id="" class="ui-panel-content">
        
            <div id="" class="ui-panel" >
              <div id="" class="ui-panel-content">
                <div id="" class="ui-messages" aria-live="polite"></div>
              </div>
            </div>

            <div class="form_content fax_m" style="height:100px;">
              <div class="panel_title"><span title="">PERIOD</span></div>
              <div class="form_content_inner">
                <table>
                  <tbody><!--  -->
                    <tr>
                      <td class="td_labelCol">
                        <label class="redColor">*</label>
                        <label title="">Start Date:</label>
                      </td>
                      <td class="td_outputCol">
                        <span id="startdate" class="leaveStartDate">
                          <input type="text" class="datepicker" ng-model="fromdate">
                        </span>
                      </td>
                      <td class="td_labelCol">
                        <label title="">End Date:</label>
                      </td>
                      <td class="td_outputCol">
                        <span class="leaveStartDate">
                          <input type="text" class="datepicker" ng-model="todate">
                        </span>
                        <div aria-live="polite" class="ui-message"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
              
            <div class="NLleave" style="padding-bottom:20px;">
              <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
                <div class="ui-panel-content ui-widget-content">
                  <button  class="ui-button ui-widget btn-success"  type="submit" role="button" aria-disabled="false">
                    <span class="ui-button-text ui-c">VIEW</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
              
      <div class="listing_kb">
        <table width="100%">
          <tbody>
            <tr>
              <td align="left" class="titleTBnone" width="50%">
                <span class="heading-style">ATTENDANCE DETAILS</span>
              </td>
              <td align="right" class="titleTBnone" width="50%"></td>
            </tr>
          </tbody>
        </table>

        <div class="listing_kb_inner border_table TabTable_responsive">
          <div class="ui-datatable ui-widget table-header">
            <div class="ui-datatable-tablewrapper">
              <table role="grid">
                <thead>
                  <tr>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Check Box</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Date</span><span class="ui-sortable-column-icon ui-icon ui-icon-carat-2-n-s"></span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Shift</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Expected IN Time</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Actual IN Time</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Expected Out Time</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Actual Out Time</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Work Hours</span>
                    </th>
                    <th class="ui-state-default">
                      <span class="ui-column-title">Status</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="ui-datatable-data">
                  <tr class="ui-widget-content" ng-show="!fromdate" ng-repeat="list in attendancelist">
                    <td role="gridcell">
                      <input type="checkbox" ng-model="selectedList[list.date]">
                    </td>
                    <td role="gridcell">{{list['date']}}</td>
                    <td role="gridcell">
                      <label>Morning Shift</label>
                    </td>
                    <td role="gridcell">
                      <label>{{list['reportInTime']}}</label>
                    </td>
                    <td role="gridcell">
                      <span class="ToolTip">
                        <label>{{list['actualIn']}}</label>
                      </span>
                    </td>
                    <td role="gridcell">
                      <label>{{list['reportOutTime']}}</label>
                    </td>
                    <td role="gridcell">
                      <span class="ToolTip">
                        <label>{{list['actualOut']}}</label>
                      </span>
                    </td>
                    <td role="gridcell">
                      <label >8 Hours</label>
                    </td>
                    <td role="gridcell">
                      <label ng-if="list['status']==1||list['status']==2">p</label>
                    </td>
                    <td role="gridcell">
                      <label class="redColor" ng-if="!list['status']">A</label>
                    </td>
                    <!-- <td role="gridcell">
                      <label class="redColor">{{list['status']}}</label>
                    </td> -->
                  </tr>
                  <tr class="ui-widget-content" ng-show="fromdate" ng-repeat="list in attendancelist | dateFilter:fromdate:todate">
                    <td role="gridcell">
                      <input type="checkbox">
                    </td>
                    <td role="gridcell">{{list['date']}}</td>
                    <td role="gridcell">
                      <label>Morning Shift</label>
                    </td>
                    <td role="gridcell">
                      <label>{{list['reportInTime']}}</label>
                    </td>
                    <td role="gridcell">
                      <span class="ToolTip">
                        <label>{{list['actualIn']}}</label>
                      </span>
                    </td>
                    <td role="gridcell">
                      <label>{{list['reportOutTime']}}</label>
                    </td>
                    <td role="gridcell">
                      <span class="ToolTip">
                        <label>{{list['actualOut']}}</label>
                      </span>
                    </td>
                    <td role="gridcell">
                      <label >8 Hours</label>
                    </td>
                    <td role="gridcell">
                      <label ng-if="list['status']==1||list['status']==2">p</label>
                    </td>
                    <td role="gridcell">
                      <label class="redColor" ng-if="!list['status']">A</label>
                    </td>
                    <!-- <td role="gridcell">
                      <label class="redColor">{{list['status']}}</label>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="BtnRW padt15">
          <button aria-disabled="false" class="ui-button btn-success" title="" type="submit" ng-click="createRegularization()">
            <span class="ui-button-text ui-c">Regularize</span>
          </button>
        </div>

        <fieldset class="ui-fieldset ui-hidden-container attBot">
          <div class="ui-fieldset-content">
            <label class="fBold">Present Days:</label> 
            <label>30</label>
            <label class="fBold">Absent Days:</label> 
            <label>2</label>
            <label class="fBold">Half Days:</label> 
            <label>0</label>
            <label class="fBold">Miss Punch Out:</label> 
            <label>0</label>
            <label class="fBold">Leave:</label> 
            <label>1</label>
            <label class="fBold">Holiday:</label> 
            <label>1</label>
            <label class="fBold">Half Day Leave:</label> 
            <label>0</label>
            <label class="fBold">Late Arrival:</label> 
            <label>0</label>
            <label style="font-weight:bold;">Early Exit:</label> 
            <label>0</label>
          </div>
        </fieldset>

      </div>

    </span>
  </div>
</div>