<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> 



<span id="include" class="center-body-false" style="padding-bottom:755px;">


<div id="searchForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_searchForm_mainPanel"><div id="searchForm:mainPanel_content" class="ui-panel-content ui-widget-content"><span id="searchForm:dataTablePanel">No Record Found
                <div class="listing_kb">
                <table width="100%">
                    <tbody><tr>
                        <td width="50%" align="left" class="titleTBnone"><span class="heading-style"><span title="">MYCLAIMS</span></span></td>
                        <td width="50%" align="right" class="titleTBnone"></td>
                    </tr>
                </tbody></table>
                <div class="listing_kb_inner Overflow_Width">
                </div>
                </div></span></div></div>

                </span>