<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>

<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> 


<span id="include" class="center-body-false" style="height:670px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm" method="post" action="/home.jsf?cid=2" class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel"><div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId"><div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div></div></div><span id="newLeaveRequestForm:newLeaveRequestPanel1"><span id="newLeaveRequestForm:newLeaveRequestPanel12">
          <div class="form_content fax_m" style="height:100px;">
            <div class="panel_title"><span title="">PERIOD</span>
            </div>

            <div class="form_content_inner"><table>
<tbody><!--  -->

<tr>
<td class="td_labelCol">
<label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">
Start Date:</label>
</td>
<td class="td_outputCol">

<span id="newLeaveRequestForm:startdate" class="leaveStartDate">
<input type="text" class="datepicker">
</span>

</td>
<td class="td_labelCol"><label for="newLeaveRequestForm:commentsTxtId" title="">
End Date:</label></td>
<td class="td_outputCol"><span id="newLeaveRequestForm:startdate" class="leaveStartDate">
<input type="text" class="datepicker">
</span><div id="newLeaveRequestForm:j_idt1848" aria-live="polite" class="ui-message"></div></td>
</tr>


</tbody>
</table>


            </div>
          </div></span>      <div class="NLleave"><div id="newLeaveRequestForm:btnFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_btnFldId"><div id="newLeaveRequestForm:btnFldId_content" class="ui-panel-content ui-widget-content"><button id="newLeaveRequestForm:updateDown" name="newLeaveRequestForm:updateDown" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">VIEW</span></button></div></div>
      </div></div></div>
              <div class="listing_kb" style="padding-top:20px;">
          <table width="100%">
            <tbody><tr>
              <td width="50%" align="left" class="titleTBnone"><span class="heading-style"><span title="" style="font-size:11px;">SHIFT DETAILS</span>
              </span></td>
              <td width="50%" align="right"></td>
            </tr>
          </tbody></table>
          <div class="listing_kb_inner"><span id="newLeaveRequestForm:entitlementPanel22"><table id="newLeaveRequestForm:leaveQuotaDetail" class="table-header" summary="Leave Quota Detail">
<thead>
<tr>
<th scope="col"><span title="">Shift Date</span></th>
<th scope="col"><span title="">Shift</span></th>
<th scope="col"><span title="">Start Time</span></th>
<th scope="col"><span title="">End Time</span></th>


</tr>
</thead>
<tbody>
<tr>
<td>
        21 Jul 2017 
  
                  </td>
<td>
Morning Shift                   
                
              </td>
<td>
                  09:00 
                

              </td>
<td>              18:00
           
            </td>

</tr>
<tr>
  <tr>
<td>
        22 Jul 2017 
  
                  </td>
<td>
Day (09:00-18:00)                   
                
              </td>
<td>
                 09:00  
                

              </td>
<td>              18:00
             
            </td>

</tr>
<tr>
<td>
        23 Jul 2017 
  
                  </td>
<td>
                 WEEKLY OFF 
                  
                
              </td>
<td>
                  00:00 
                

              </td>
<td>             00:00               
            </td>

</tr>
<tr>
<td>
        24 Jul 2017 
  
                  </td>
<td>
                  Morning Shift  
                  
                
              </td>
<td>
                  09:00 
                

              </td>
<td>             18:00
             
            </td>

</tr>
<tr>
<td>
       25 Jul 2017  
  
                  </td>
<td>
                  Day (09:00-18:00) 
                  
                
              </td>
<td>
                 09:00  
                

              </td>
<td>              18:00
             
            </td>

</tr>
<tr>
<td>
        26 Jul 2017 
  
                  </td>
<td>
                  Morning Shift 
                  
                
              </td>
<td>
                  09:00 
                

              </td>
<td>              18:00
             
            </td>

</tr>
<tr>
<td>
        27 Jul 2017 
  
                  </td>
<td>
                 Day (09:00-18:00)   
                  
                
              </td>
<td>
                  09:00 
                

              </td>
<td>              18:00
           
            </td>

</tr>
<tr>
<td>
        28 Jul 2017 
  
                  </td>
<td>
Morning Shift                   
                
              </td>
<td>
                  09:00 
                

              </td>
<td>              18:00
             
            </td>

</tr>
</tbody>
</table>
</span>

          </div>
        </div>


        </span>