<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>
<style type="text/css">
    .center-body-false .ui-datatable table thead tr th, .table-header thead tr th {
    background: #1565c0;
}
</style>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="css/new.css">



<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> <span id="include" class="center-body-false">
<form id="newLeaveRequestForm" name="newLeaveRequestForm"  class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel">
    <div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content">
    <div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId">
    <div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content">
    <div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div>
    </div>
    </div>



   

<div class="fliter_layout_block">
<div class="fliter_block" style="display: none;">
<div class="left_report_inner"><div id="altReport:altReportParamPanel" class="ui-outputpanel ui-widget"><div id="altReport:reportMessageDisplay" class="ui-messages ui-widget" aria-live="polite"></div>
  <h3 class="heading-style">Report Filters</h3>
  <div class="filters_scroll" style="display: ;">
   </div>
    <div class="row filters_scroll2"><button id="altReport:j_idt11784" name="altReport:j_idt11784" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success btn_sm" onclick="window.location.href='#/user-interface/reports'">><span class="ui-button-text ui-c">Submit</span></button>
  
  </div></div>
   </div>
   </div>
   
   <div class="fliter_block_adhoc" style="display: none;">
  <div class="left_report_inner"><div id="altReport:altReportParamPanel1" class="ui-outputpanel ui-widget"><div id="altReport:reportMessageDisplay1" class="ui-messages ui-widget" aria-live="polite"></div>
  <h3 class="heading-style">Report Filters</h3>
   
  <div class="filters_scroll" style="display: none;">
  
  </div>
  <div class="row filters_scroll2">
  
  </div></div>
    </div>
</div>

<div class="report_block" style="display: ;">
<h3 class="heading-style">Standard Report </h3>
<div class="report_title_block">

  <div class="report_cell_one">Report Name</div>
    <div class="report_cell_two">Description</div>
    <div class="report_cell_three">Options</div>
</div>
<div class="report_content_block">
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt11796" class="ui-outputlabel ui-widget">Headcount_Report</label></h3>
            <div><label id="altReport:j_idt11798" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt11800" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt11802" name="altReport:j_idt11802" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt11805" class="ui-outputlabel ui-widget">Sync Employee Master</label></h3>
            <div><label id="altReport:j_idt11807" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt11809" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt11811" name="altReport:j_idt11811" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt11814" class="ui-outputlabel ui-widget">Sync Investment Master</label></h3>
            <div><label id="altReport:j_idt11816" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt11818" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt11820" name="altReport:j_idt11820" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt11823" class="ui-outputlabel ui-widget">Sync CTC Master</label></h3>
            <div><label id="altReport:j_idt11825" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt11827" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt11829" name="altReport:j_idt11829" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt11832" class="ui-outputlabel ui-widget">Investment Tracker Report</label></h3>
            <div><label id="altReport:j_idt11834" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt11836" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt11838" name="altReport:j_idt11838" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt13109" class="ui-outputlabel ui-widget">Sync OrgMaster</label></h3>
            <div><label id="altReport:j_idt13111" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt13113" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt13115" name="altReport:j_idt13115" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt22550" class="ui-outputlabel ui-widget">Unit And Grade Wise CTC Report</label></h3>
            <div><label id="altReport:j_idt22552" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt22554" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt22556" name="altReport:j_idt22556" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt22559" class="ui-outputlabel ui-widget">Employee Payroll Process Report</label></h3>
            <div><label id="altReport:j_idt22561" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt22563" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt22565" name="altReport:j_idt22565" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt22568" class="ui-outputlabel ui-widget">Investment Tracker Report-StageWise</label></h3>
            <div><label id="altReport:j_idt22570" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt22572" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt22574" name="altReport:j_idt22574" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt22577" class="ui-outputlabel ui-widget">Sync Attendance Master</label></h3>
            <div><label id="altReport:j_idt22579" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt22581" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt22583" name="altReport:j_idt22583" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>
  <div class="report_content_row">
        <div class="report_cell_one">
            <h3><label id="altReport:j_idt22586" class="ui-outputlabel ui-widget">CTC Change Report</label></h3>
            <div><label id="altReport:j_idt22588" class="ui-outputlabel ui-widget">Payroll Reports</label></div>
        </div>
        <div class="report_cell_two"><label id="altReport:j_idt22590" class="ui-outputlabel ui-widget">Alt Reports</label></div>
        <div class="report_cell_three">
          <div><button id="altReport:j_idt22592" name="altReport:j_idt22592" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" onclick="window.location.href='#/user-interface/reports'"><span class="ui-button-text ui-c">View Report</span></button></div>
                  </div>
    </div>

</div>
</div>        
  <div class="fliter_contentReport fliter_contentReport_adoc" style="display: none;"> 
    
    <div class="heading-style">
        
        <div class="div_filterString" style="display: none;">
  </div>
  </div>
