<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
</script>
<style>
  .NLleave{
    padding-bottom: 20px !important;
  }
  #payslip{
    padding: 2px;
  }
  .payslip{
    float: none !important;
  }
  .payhead{
    border-bottom: 2px solid black;
    display: inline-block;
  }
   .btmborder{
    border-bottom: 2px solid black !important;
    width: 100%;
  }
  .paydiv{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .lefttd{
    text-align: left !important;
  }
  .paytable tr td{
    padding: 5px;
  }
</style>

<div class="mdl-grid demo-content"> 
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> 
    <span id="include" class="center-body-false" style="height:865px;">
      <div class="ui-panel ui-widget ui-widget-content ui-corner-all" >
        <div class="ui-panel-content ui-widget-content">
          
          <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
            <div class="ui-panel-content ui-widget-content">
              <div class="ui-messages ui-widget" aria-live="polite"></div>
            </div>
          </div>

          <span>
            <div class="form_content fax_m" style="height:110px;">
              <div class="panel_title"><span title="">PAY SLIP</span></div>
              <div class="form_content_inner">
                <table>
                  <tbody>
                    <tr>
                      <td class="td_labelCol">
                        <label class="redColor">*</label>
                        <label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">Select Year:</label>
                      </td>
                      <td class="td_outputCol">
                        <!-- <select style="width:231px;height:30px;" tabindex="-1">
                          <option value="" selected="selected">Select Year</option>
                        </select> -->
                        <div class="mui-select">
                            <select style="width:231px;height:30px;margin-left:2%" tabindex="-1">
                                <option value="2015" ng-selected="true">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                            </select>
                        </div>
                      </td>
                      <td class="td_labelCol">
                        <label for="newLeaveRequestForm:commentsTxtId" title="">Select Month:</label>
                      </td>
                      <td class="td_outputCol">
                          <div class="mui-select">
                              <select style="width:231px;height:30px;margin-left:2%" tabindex="-1">
                                  <option value="January" ng-selected="true">January</option>
                                  <option value="February">February</option>
                                  <option value="March">March</option>
                                  <option value="April">April</option>
                                  <option value="May">May</option>
                                  <option value="June">June</option>
                                  <option value="July">July</option>
                                  <option value="August">August</option>
                                  <option value="September">September</option>
                                  <option value="October">October</option>
                                  <option value="November">November</option>
                                  <option value="December">December</option>
                              </select>
                          </div>
                        <div aria-live="polite" class="ui-message"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </span>

          <div class="NLleave">
            <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
              <div class="ui-panel-content ui-widget-content">
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  type="submit" role="button" aria-disabled="false">
                  <span class="ui-button-text ui-c">VIEW</span>
                </button>
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" title="" type="submit" role="button" aria-disabled="false">
                  <span class="ui-button-text ui-c">CANCEL</span>
                </button>
              </div>
            </div>
          </div>

          <div class="border border-white" id="payslip">
            <div class="border border-dark" style="text-align: center;">
              
              <div class="row payslip payhead">
                <div class="col-sm-10 paydiv" style="border-right:2px solid black">
                  <table class="paytable">
                    <tr><td class="btmborder" colspan="3"><span style="font-size:20px; font-weight:bold">G-Trans Logistics</span></td></tr>
                    <tr><td class="btmborder" colspan="3"><span style="font-size:15px; font-weight:bold">WAGES SLIP/LEAVE CARD</span></td></tr>
                    <tr>
                      <td class="lefttd">Salary / Wages Advice for the Month</td>
                      <td class="lefttd" style="width:33%; text-align:center !important">Oct' 17</td>
                      <td style="width:33%"></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-2" style="padding-top:3%">
                  <img src="images/bottom-logo.png" alt="" style="width:100%">
                </div>
              </div>

              <div class="row" style="display:inline-block; float:none; margin-top:-5px">
                <div class="col-sm-5" style="border-bottom:2px solid black; border-right:2px solid black">
                  <table class="paytable">
                    <tr>
                      <td><span style="color:transparent">nothing</span></td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-7"  style="border-bottom:2px solid black">
                  <table class="paytable">
                    <tr>
                      <td style="width:50%">
                        <span style="float:left">Employee Code</span>
                        <span style="float:right">GTL-111</span>
                      </td>
                      <td style="width:50%">

                      </td>
                    </tr>
                  </table>
                </div>
              </div>

            </div>
          </div>

          <div id="editor"></div>

          <div class="NLleave">
            <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
              <div class="ui-panel-content ui-widget-content">
                <button id="cmd" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  type="submit" role="button" aria-disabled="false">
                  <span class="ui-button-text ui-c">Download</span>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </span>
  </div>
</div>

