
<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Position Information</h2>

        <!-- ngIf: pctrl.editInfo === 0 --><ul class="actions ng-scope" data-ng-if="pctrl.editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editInfo === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editInfo === 0 --><div class="pmbb-view ng-scope" data-ng-if="pctrl.editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Employee Code</dt>
                <dd class="ng-binding">GTL-122</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Date Of Joinign</dt>
                <dd class="ng-binding">23/06/2017</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Offica Email</dt>
                <dd class="ng-binding">admin@g-translogistics.com</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Grade</dt>
                <dd class="ng-binding">A</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Designation</dt>
                <dd class="ng-binding">Admin</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>L2 MAnager</dt>
                <dd class="ng-binding">Single</dd>
            </dl>

        </div><!-- end ngIf: pctrl.editInfo === 0 -->
        <form data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="pctrl.editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employee Code</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.fullName" type="text" class="form-control ng-pristine ng-untouched ng-valid" value="Mallinda Hollaway" placeholder="eg. Mallinda Hollaway">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Grade</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.fullName" type="text" class="form-control ng-pristine ng-untouched ng-valid" value="Mallinda Hollaway" placeholder="eg. Mallinda Hollaway">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Designation</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" data-dt-picker="DD/MM/YYYY" uib-dropdown-toggle="" placeholder="eg. 23/06/1988">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">L2 Manager</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control">
                            <option value="onroll">Onroll</option>
                            <option value="offroll">OffRoll</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="pctrl.editInfo = 0">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editInfo === 1 -->
    </div>
</div>


<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        

        <!-- ngIf: pctrl.editContact === 0 --><ul class="actions ng-scope" data-ng-if="pctrl.editContact === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editContact === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editContact === 0 --><div class="pmbb-view ng-scope" data-ng-if="pctrl.editContact === 0">
            <dl class="dl-horizontal">
                <dt>L1 Manager</dt>
                <dd class="ng-binding">Demo</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employment Status</dt>
                <dd class="ng-binding">active</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>HR Manager</dt>
                <dd class="ng-binding">@malind</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Notice Period</dt>
                <dd class="ng-binding">malinda.hollaway</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employment Type</dt>
                <dd class="ng-binding">Onroll</dd>
            </dl>

        </div><!-- end ngIf: pctrl.editContact === 0 -->
        <form data-ng-submit="pctrl.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit ng-pristine ng-valid ng-scope ng-valid-email" data-ng-if="pctrl.editContact === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">HR Manager</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.mobileNumber" type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="eg. 00971 12345678 9">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Notice Period</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.emailAddress" type="email" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" placeholder="eg. malinda.h@gmail.com">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employment Type</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.twitter" type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="eg. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employement Status</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.skype" type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="eg. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="pctrl.editContact = 0">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editContact === 1 -->
    </div>
</div>
<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        

        <!-- ngIf: pctrl.editContact === 0 --><ul class="actions ng-scope" data-ng-if="pctrl.editContact === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editContact === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editContact === 0 --><div class="pmbb-view ng-scope" data-ng-if="pctrl.editContact === 0">
            <dl class="dl-horizontal">
                <dt>Conformation Due Date</dt>
                <dd class="ng-binding">Demo</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Conformation Status</dt>
                <dd class="ng-binding">active</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Actual Confirmation Date</dt>
                <dd class="ng-binding">@malind</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Releving Date</dt>
                <dd class="ng-binding">malinda.hollaway</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Department</dt>
                <dd class="ng-binding">Onroll</dd>
            </dl>

        </div><!-- end ngIf: pctrl.editContact === 0 -->
        <form data-ng-submit="pctrl.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit ng-pristine ng-valid ng-scope ng-valid-email" data-ng-if="pctrl.editContact === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">HR Manager</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.mobileNumber" type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="eg. 00971 12345678 9">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Notice Period</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.emailAddress" type="email" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email" placeholder="eg. malinda.h@gmail.com">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employment Type</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.twitter" type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="eg. @malinda">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employement Status</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.skype" type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="eg. malinda.hollaway">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="pctrl.editContact = 0">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editContact === 1 -->
    </div>
</div>


</data>