<div id="center">
    </div>
<div class="container ng-scope">

    <div class="block-header">
       


    </div>

    <div class="card ng-scope" id="profile-main"   data-ng-controller="profileCtrl as pctrl">
        <div class="pm-overview c-overflow mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x" style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive mCS_img_loaded" src="img/profile-pics/profile-pic-2.jpg" alt="">
                    </a>

                    <div class="dropdown pmop-message" uib-dropdown="">
                        <button uib-dropdown-toggle="" class="btn bgm-white btn-float dropdown-toggle waves-effect waves-circle" aria-haspopup="true" aria-expanded="false">
                            <i class="zmdi zmdi-comment-text-alt"></i>
                        </button>

                        <div class="dropdown-menu stop-propagate">
                            <textarea placeholder="Write something..."></textarea>

                            <button class="btn bgm-green btn-float waves-effect waves-circle"><i class="zmdi zmdi-mail-send"></i></button>
                        </div>
                    </div>

                    <a href="" class="pmop-edit">
                        <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                    </a>
                </div>


                <div class="pmo-stat">
                    <h2 class="m-0 c-white">1562</h2>
                    Total Connections
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li class="ng-binding"><i class="zmdi zmdi-phone"></i> 00971123456789</li>
                    <li class="ng-binding"><i class="zmdi zmdi-email"></i> malinda.h@gmail.com</li>
                    <li class="ng-binding"><i class="zmdi zmdi-facebook-box"></i> malinda.hollaway</li>
                    <li class="ng-binding"><i class="zmdi zmdi-twitter"></i> @malinda (twitter.com/malinda)</li>
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0 ng-binding">
                            44-46 Morningside Road, <br>
                            Edinburgh, <br>
                            Scotland
                        </address>
                    </li>
                </ul>
            </div>

            <div class="pmo-block pmo-items hidden-xs">
                <h2>Connections</h2>

                <div class="pmob-body">
                    <div class="row">
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/2.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/3.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/4.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/5.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/6.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/7.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/8.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/1.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/2.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/3.jpg" alt="">
                        </a>
                        <a href="" class="col-xs-2">
                            <img class="img-circle mCS_img_loaded" src="img/profile-pics/4.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 587px; max-height: 695px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_1_scrollbar_horizontal" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; width: 0px; left: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div></div>

        <div class="pm-body clearfix" style="width:1077px;">
            
<div ng-include src="'views/profile-menu.html'"></ng-include></div>

            <!-- uiView:  --><data ui-view="" class="ng-scope"><div class="pmb-block ng-scope">
    
    
</div>





</data>
        </div>
    </div>
</div>
