<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

        <!-- ngIf: pctrl.editInfo === 0 -->
        <ul class="actions ng-scope" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editInfoForm()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editInfo === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editInfo === 0 -->
        <div class="pmbb-view ng-scope" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Dependent Name</dt>
                <dd class="ng-binding">{{familyinfo[0]['dependentName']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Relation</dt>
                <dd class="ng-binding">{{familyinfo[0]['relationship']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Gender</dt>
                <dd class="ng-binding">{{familyinfo[0]['gender']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Date Of Birth</dt>
                <dd class="ng-binding">{{familyinfo[0]['dob']}}</dd>
            </dl>
        </div>
        <!-- end ngIf: pctrl.editInfo === 0 -->
        <form ng-submit="updateFamily(dname, relation, gender, dob)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Dependent Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="dname" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Relation</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="relation" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Gender</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input ng-model="gender" type="text" class="form-control">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Date Of Birth</dt>
                <dd>
                    <div class="fg-line">
                        <div class="dtp-container dropdown fg-line">
                        <input ng-model="dob" type="text" class="form-control">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeInfoForm()">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editInfo === 1 -->
    </div>
</div>


<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        

        <!-- ngIf: pctrl.editContact === 0 -->
        <ul class="actions ng-scope" data-ng-if="editContact === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editContactForm()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul><!-- end ngIf: pctrl.editContact === 0 -->
    </div>
    <div class="pmbb-body p-l-30">
        <!-- ngIf: pctrl.editContact === 0 -->
        <div class="pmbb-view ng-scope" data-ng-if="editContact === 0">
            <dl class="dl-horizontal">
                <dt>Marital Status</dt>
                <dd class="ng-binding">{{familyinfo[0]['maritalStatus']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Blood Group</dt>
                <dd class="ng-binding">{{familyinfo[0]['bloodGroup']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Address</dt>
                <dd class="ng-binding">{{familyinfo[0]['address']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Mobile</dt>
                <dd class="ng-binding">{{familyinfo[0]['mobileNo']}}</dd>
            </dl>
        </div><!-- end ngIf: pctrl.editContact === 0 -->
        <form ng-submit="updateFamily1(marital, blood, addr, mobile)" class="pmbb-edit ng-pristine ng-valid ng-scope ng-valid-email" data-ng-if="editContact === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Marital Status</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="marital" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Blood Group</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="blood" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Address</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="addr" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="mobile" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeContactForm()">Cancel</button>
            </div>
        </form>

        <!-- ngIf: pctrl.editContact === 1 -->
    </div>
</div>
</data>