<!-- Start Basic Information -->
<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>
        <ul class="actions ng-scope" data-ng-if="editInfo === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editBasic()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view ng-scope" data-ng-if="editInfo === 0">
            <dl class="dl-horizontal">
                <dt>Title</dt>
                <dd class="ng-binding">{{basicinfo[0]['title']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employee Name</dt>
                <dd class="ng-binding">{{basicinfo[0]['firstName']+" "+basicinfo[0]['lastName']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employee Code</dt>
                <dd class="ng-binding">{{basicinfo[0]['empCode']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Start Date</dt>
                <dd class="ng-binding">{{basicinfo[0]['startDate']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>End Date</dt>
                <dd class="ng-binding">{{basicinfo[0]['endDate']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Employment Type</dt>
                <dd class="ng-binding">{{basicinfo[0]['empType']}}</dd>
            </dl>
        </div>
        <form ng-submit="updateBasicInfo1(title, fullName, employeecode, startdate, enddate, emptype)" class="pmbb-edit ng-pristine ng-valid ng-scope" data-ng-if="editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Title</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="title" type="text" class="form-control ng-pristine ng-untouched ng-valid" >
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employee Name</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="fullName" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employee Code</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="employeecode" type="text" class="form-control ng-pristine ng-untouched ng-valid" disabled="true">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Start Date</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="startdate">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">End Date</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type="text" class="form-control" ng-model="enddate">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Employement type</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" ng-model="emptype">
                            <option value="permanent">Permanent</option>
                            <option value="temporary">Temporary</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeBasic()">Cancel</button>
            </div>
        </form>

    </div>
</div>
<!-- End Basic Information -->


<!-- Start Contact Information -->
<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>
        <ul class="actions ng-scope" data-ng-if="editcontactdata===0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editContact()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view ng-scope" data-ng-if="editcontactdata===0">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd class="ng-binding">{{basicinfo[0]['mobile']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email</dt>
                <dd class="ng-binding">{{basicinfo[0]['personalEmail']}}</dd>
            </dl>
            
        </div>
        <form ng-submit="updateBasicInfo2(mobileNumber, emailAddress)" class="pmbb-edit ng-pristine ng-valid ng-scope ng-valid-email" data-ng-if="editcontactdata === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="mobileNumber" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="emailAddress" type="email" class="form-control ng-pristine ng-untouched ng-valid ng-valid-email">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeContact()">Cancel</button>
            </div>
        </form>

    </div>
</div>
<!-- End Contact Information -->


<!-- Start Id Information -->
<div class="pmb-block ng-scope">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> ID Information</h2>
        <ul class="actions ng-scope" data-ng-if="editId === 0">
            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="editIdForm()" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view ng-scope" data-ng-if="editId === 0">
            <dl class="dl-horizontal">
                <dt>PAN Number</dt>
                <dd class="ng-binding">{{basicinfo[0]['panNo']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>UAN Number</dt>
                <dd class="ng-binding">{{basicinfo[0]['uanNo']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>PF Account</dt>
                <dd class="ng-binding">{{basicinfo[0]['pfAccount']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Aadhar Number</dt>
                <dd class="ng-binding">{{basicinfo[0]['adharNo']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>ESI Number</dt>
                <dd class="ng-binding">{{basicinfo[0]['esiNo']}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Voter ID</dt>
                <dd class="ng-binding">{{basicinfo[0]['voterId']}}</dd>
            </dl>

        </div>
        <form ng-submit="updateBasicInfo3(pan, uan, pf, aadhar, esi, voter)" class="pmbb-edit ng-pristine ng-valid ng-scope ng-valid-email" data-ng-if="editId === 1" style="">
            <dl class="dl-horizontal">
                <dt class="p-t-10">PAN Number</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pan" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">UAN NUmber</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="uan" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">PF Account</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="pf" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Aadhar Number</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="aadhar" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">ESI NUmber</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="esi" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Voter Id</dt>
                <dd>
                    <div class="fg-line">
                        <input ng-model="voter" type="text" class="form-control ng-pristine ng-untouched ng-valid">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button class="btn btn-primary btn-sm waves-effect" type="submit">Save</button>
                <button class="btn btn-link btn-sm waves-effect" data-ng-click="closeEditIdForm()">Cancel</button>
            </div>
        </form>

    </div>
</div>
<!-- End Id Information -->