 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>
 
 
    <!-- Basic -->
<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">   
<span id="include" class="center-body-false" style="height:655px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm" method="post" action="/home.jsf?cid=2" class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel">
    <div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content">
    <div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId">
    <div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content">
    <div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div>
    </div>
    </div>



   

        <div class="listing_kb">
          <table width="100%">
            <tbody><tr>
              <td width="49%" align="left" class="titleTBnone"><span class="heading-style"><span title="">LEAVE HISTORY</span>
              </span></td>
              <td width="49%" align="right"></td>
            </tr>
          </tbody></table>
          <div class="listing_kb_inner"><span id="newLeaveRequestForm:entitlementPanel22"><table id="newLeaveRequestForm:leaveQuotaDetail" class="table-header" summary="Leave Quota Detail">
<thead>
<tr>
<th scope="col">
  <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Regularization Code</p>
                        <input type="text" name="" style="border-radius: 2px;width:145px; padding: 2px">
                      </div>  
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Application Date</p>
                        <!-- <input type="" name="" style="border-radius: 2px; padding: 2px"> -->
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Stage</p>
                        <input type="text" name="" style="border-radius: 2px;width:145px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Status</p>
                        <input type="text" name="" style="border-radius: 2px;width:145px; padding: 2px">
                      </div>
</th>

</tr>
</thead>
<tbody>
<tr>
    <td> EL </td>
    <td>  </td>
    <td>15.0  </td>
    <td> Pending  </td>
    
    
</tr>
<tr>
    <td> EL </td>
    <td>  </td>
    <td>15.0  </td>
    <td> Pending  </td>
    
</tr>
</tbody>
</table>
</span>

         


        </span>