<div class="fliter_layout_block">
<div class="fliter_block" style="display: ;">
<div class="left_report_inner"><div id="altReport:altReportParamPanel" class="ui-outputpanel ui-widget"><div id="altReport:reportMessageDisplay" class="ui-messages ui-widget" aria-live="polite"></div>
	<h3 class="heading-style">Report Filters</h3>
	<div class="filters_scroll" style="height:367px;">
				
		<div class="fliter_items_row" style="display: none;">
 
            	<div class="fliter_label"><label id="altReport:j_idt11970" class="ui-outputlabel ui-widget">Role</label></div>
            	<div class="fliter_item"></div>

        </div>
		
		<div class="fliter_items_row" style="display: ;">
      		<div class="fliter_label"><label id="altReport:j_idt11974" class="ui-outputlabel ui-widget">Role</label></div>
          	<tr><td>
          		<select id="role" style="height:25px;width:100%;">
          			<option value="employee">Employee</option>
          			<option value="L1 manager">L1 manager</option>
          			<option value="Hr Manager">Hr Manager</option>
          			<option value="L2 Manager">L2 Manager</option>
          			<option value="FNF">FNF Payroll Vendor</option>
          			<option value="HR Head">HR Head</option>
          			<option value="Interview">Interview</option>
          			<option value="HR_ops">HR_OPS</option>
          		</select>
          			</td>
          			<td>
          				<div class="fliter_label" style="padding-top:12px;"><label id="altReport:j_idt11974" class="ui-outputlabel ui-widget">Pay Group</label></div>
          		<select id="role" style="height:25px;width:100%;">
          			<option value="employee">Employee</option>
          			<option value="L1 manager">L1 manager</option>
          			<option value="Hr Manager">Hr Manager</option>
          			<option value="L2 Manager">L2 Manager</option>
          			<option value="FNF">FNF Payroll Vendor</option>
          			<option value="HR Head">HR Head</option>
          			<option value="Interview">Interview</option>
          			<option value="HR_ops">HR_OPS</option>
          		</select>
          			</td>
          			<td>
          		<div class="fliter_label" style="padding-top:12px;"><label id="altReport:j_idt11974" class="ui-outputlabel ui-widget">Month</label></div>
          		<select id="role" style="height:25px;width:100%;">
          			<option value="Jan">Jan</option>
          			<option value="Feb">Feb</option>
          			<option value="Mar">Mar</option>
          			<option value="April">April</option>
          			<option value="May">May</option>
          			<option value="June">Jun</option>
          			<option value="July">Jul</option>
          			<option value="Aug">Aug</option>
          			<option value="Sep">Sep</option>
          			<option value="Oct">Oct</option>
          			<option value="Nov">Nov</option>
          			<option value="Dec">Dec</option>
          		</select>
          			</td>
          			<td>
          				<div class="fliter_label" style="padding-top:12px;"><label id="altReport:j_idt11974" class="ui-outputlabel ui-widget">Year</label></div>
          		<select id="year" style="height:25px;width:100%;">
          			<option value="2000">2000</option>
          			<option value="2001">2001</option>
          			<option value="2002">2002</option>
          			<option value="2003">2003</option>
          			<option value="2004">2004</option>
          			<option value="2005">2005</option>
          			<option value="2006">2006</option>
          			<option value="2007">2007</option>
          			<option value="2008">2008</option>
          			<option value="2009">2009</option>
          			<option value="2010">2010</option>
          			<option value="2011">2011</option>
          			<option value="2012">2012</option>
          			<option value="2013">2013</option>
          			<option value="2014">2014</option>
          			<option value="2015">2015</option>
          			<option value="2016">2016</option>
          			<option value="2017">2017</option>
          		</select>
          			</td>
          		</tr>
          			
				
			</div>
    	</div>
    			

       
   	<div class="row filters_scroll2" style="margin-left:0px;"><button id="altReport:j_idt11784" name="altReport:j_idt11784" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success btn_sm" onclick="scrollUp();;PrimeFaces.ab({s:&quot;altReport:j_idt11784&quot;,p:&quot;altReport:altReportParamPanel altReport:altReportParamPanel1&quot;,u:&quot;altReport&quot;});return false;" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Submit</span></button><button id="altReport:j_idt11785" name="altReport:j_idt11785" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-gray ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn_sm" onclick="window.location.href='#/user-interface/payrollreport'" style="margin:0px !important;" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Back</span></button>
	
	</div></div>
   </div>
   </div>
   
