<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<style type="text/css">
  body {
    padding-top: 13%;
    padding-bottom: 40px;
    background-color: #eee;
    background: url('/images/gaplogix.png');
    background-size: cover;

  }

  .form-signin {
    max-width: 330px;
    padding: 25px;
    margin: 0 auto;
    background-color:#ffffff;
    border-radius: 4px;
  }
  
  .form-signin-heading{
    font-size:18px;
    text-align: center;
  }

  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
    color:#2c2c2c;;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    
  }

  .newlogix{
    border-radius: 20px;
  }
  #logoImg{
    width: 150px;
  }
</style>


<div class="container">
  <form class="form-signin" name="myForm" ng-submit="resetPassword(newpass, confirmpass)">

   <div style="text-align: center;"><img src="images/gaplogo.png" id="logoImg"></div>

    <h2 class="form-signin-heading">Reset Password</h2>
    
    <label class="sr-only" for="password">Email address</label> 
    <input autofocus="" class="form-control newlogix" id="password" placeholder="New Password" required="" type="password" ng-model="newpass"> 

    <label class="sr-only" for="inputPassword">Password</label> 
    <input class="form-control  newlogix" id="inputPassword" placeholder="Confirm Password" required="" type="password" ng-model="confirmpass" name="confirmpass" data-password-verify="newpass">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="myForm.confirmpass.$error.passwordVerify">Sign in</button>

  </form>
</div>
