
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
</script>

<style>
  /* .income_bck{
    width: 50% !important;
    float: right !important;
    padding: 5px !important;
    margin: 0 0 30px 0 !important;
  } */
  
</style>

<div class="mdl-grid demo-content"> 
  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> 

    <span class="center-body-false">
    <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
      <div class="ui-panel-content ui-widget-content">
        <div class="ui-panel ui-widget ui-widget-content ui-corner-all">
          <div class="ui-panel-content ui-widget-content">
            <div class="ui-messages ui-widget" aria-live="polite"></div>
          </div>
        </div>
        <span>
          <span>
            <div class="form_content fax_m">
              <div class="panel_title"><span title="">EMPLOYEE INFORMATION</span></div>
              <div class="form_content_inner">
                <table>
                  <tbody>
                    <tr>
                      <td class="td_labelCol">
                        <label title="">Employee Code:</label>
                      </td>
                      <td class="td_outputCol">
                        <span>DN11117</span>
                        <div aria-live="polite" class="ui-message"></div>
                      </td>
                      <td class="td_labelCol">
                        <label class="redColor">*</label>
                        <label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">Employee Name:</label>
                      </td>
                      <td class="td_outputCol">
                        <span>Dileep Kumar</span>
                        <div aria-live="polite" class="ui-message"></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="td_labelCol">
                        <label class="redColor">*</label>
                        <label for="newLeaveRequestForm:startdate_input" title="">Date Of Joining</label>
                      </td>
                      <td class="td_outputCol">
                        <span>20/9/2017</span>
                        <div aria-live="polite" class="ui-message"></div>
                      </td>
                      <td class="td_labelCol">
                        <label class="redColor">*</label>
                        <label for="newLeaveRequestForm:enddate_input" title="">PAN NUmber:</label>
                      </td>
                      <td class="td_outputCol">
                        <span>CMIPK3013M</span>
                        <div aria-live="polite" class="ui-message"></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </span>
        </span>
      </span>

      <div class="box_bck">
        <div class="tax_new">
          <label title="">CHAPTERVIA80DSECTION</label>
        </div>
        <div class="ui-datatable ui-widget table-header AlignRight">
          <div class="ui-datatable-tablewrapper">
            <table role="grid">
              <thead>
                <tr role="row">
                  <th class="ui-state-default" role="columnheader" style="width: 50%">
                    <span class="ui-column-title">
                      <label title="">SECTIONNAME</label>
                    </span>
                  </th>
                  <th class="ui-state-default litm AmountCol" role="columnheader">
                    <span class="ui-column-title">
                      <label title="">MAXAMT</label>
                    </span>
                  </th>
                  <th class="ui-state-default litm1 AmountCol" role="columnheader">
                    <span class="ui-column-title"><label title="">AMOUNT</label></span>
                  </th>
                </tr>
              </thead>
              <tbody class="ui-datatable-data ui-widget-content">
                <tr data-ri="0" class="ui-widget-content ui-datatable-even datatable-rowstyle-true" role="row">
                  <td role="gridcell" style="width: 50%">80D: Mediclaim Premium of Self, Spouse and Children (Limit is 25000 if Age is less than 60 years and Limit is 30000 when age is greater than 60 years)</td>
                  <td role="gridcell" class="litm AmountCol">30000</td>
                  <td role="gridcell" class="litm1 AmountCol">
                    <table>
                      <tbody>
                        <tr>
                          <td class="timesheetcolumn2">
                            <input name="" type="text" value="0.0" aria-required="true" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" role="textbox" aria-disabled="false" aria-readonly="false">
                          </td>
                        </tr>
                        <tr>
                          <td class="timesheetcolumn2">
                            <div aria-live="polite" class="ui-message"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="box_bckN">
        <div class="tax_newN">
          <label title="">CHAPTERVIA80CSECTION</label>
        </div>
        <div class="ui-datatable ui-widget table-header AlignRight">
          <div class="ui-datatable-tablewrapper">
            <table role="grid">
              <thead>
                <tr role="row">
                  <th class="ui-state-default" role="columnheader" style="width: 50%">
                    <span class="ui-column-title">
                      <label title="">SECTIONNAME</label>
                    </span>
                  </th>
                  <th class="ui-state-default litm AmountCol" role="columnheader">
                    <span class="ui-column-title">
                      <label title="">MAXIMUMAMOUNT</label>
                    </span>
                  </th>
                  <th class="ui-state-default litm1 AmountCol" role="columnheader">
                    <span class="ui-column-title">
                      <label title="">AMOUNT</label>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody class="ui-datatable-data ui-widget-content">
                <tr class="ui-widget-content ui-datatable-even datatable-rowstyle-true" role="row">
                  <td role="gridcell" style="width: 50%">Contribution to(80CCC)</td>
                  <td role="gridcell" class="litm AmountCol">150000.00</td>
                  <td role="gridcell" class="litm1 AmountCol">
                    <table>
                      <tbody>
                        <tr>
                          <td class="timesheetcolumn2">
                            <input type="text" value="0.0" style="text-align:right !important" aria-required="true" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" role="textbox" aria-disabled="false" aria-readonly="false">
                          </td>
                        </tr>
                        <tr>
                          <td class="timesheetcolumn2">
                            <div aria-live="polite" class="ui-message"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="income_bck">
        <div class="headone">
          <label title="">INCOMEFROMOTHERSOURCES</label>
        </div>
        <div class="ui-datatable ui-widget table-header AlignRight">
          <div class="ui-datatable-tablewrapper">
            <table role="grid">
              <thead>
                <tr role="row">
                  <th class="ui-state-default" role="columnheader" style="width: 50%">
                    <span class="ui-column-title"><label title="">SECTIONNAME</label></span>
                  </th>
                  <th class="ui-state-default litm AmountCol" role="columnheader">
                    <span class="ui-column-title"><label title="">MAXIMUMAMOUNT</label></span>
                  </th>
                  <th class="ui-state-default litm1 AmountCol" role="columnheader">
                    <span class="ui-column-title"><label title="">AMOUNT</label></span>
                  </th>
                </tr>
              </thead>
              <tbody class="ui-datatable-data ui-widget-content">
                <tr class="ui-widget-content ui-datatable-even datatable-rowstyle-true" role="row">
                  <td role="gridcell" style="width: 50%">Income from other than Salary</td>
                  <td role="gridcell" class="litm AmountCol">No Limit</td>
                  <td role="gridcell" class="litm1 AmountCol">
                    <table>
                      <tbody>
                        <tr>
                          <td class="timesheetcolumn2">
                            <input type="text" value="0.0" aria-required="true" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all" role="textbox" aria-disabled="false" aria-readonly="false">
                          </td>
                        </tr>
                        <tr>
                          <td class="timesheetcolumn2">
                            <div aria-live="polite" class="ui-message"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="rent_income_bck taxCalculatorBK">
        <span>
          <div class="hed1">
            <label title="">HOUSERENTDETAILS</label>
          </div>
          <div class="ui-datatable ui-widget taxCalculator table-header AlignRight">
            <div class="ui-datatable-tablewrapper">
              <table role="grid">
                <thead>
                  <tr role="row">
                    <th class="ui-state-default" role="columnheader">
                      <span class="ui-column-title"><label title="">FROMDATE</label></span>
                    </th>
                    <th class="ui-state-default" role="columnheader">
                      <span class="ui-column-title"><label title="">TODATE</label></span>
                    </th>
                    <th class="ui-state-default" role="columnheader">
                      <span class="ui-column-title"><label title="">CITY</label></span>
                    </th>
                    <th class="ui-state-default litm1 AmountCol" role="columnheader" style="width:10%;">
                      <span class="ui-column-title"><label title="">RENTPERMONTH</label></span>
                    </th>
                  </tr>
                </thead>
                <tbody class="ui-datatable-data ui-widget-content">
                  <tr data-ri="0" class="ui-widget-content ui-datatable-even datatable-rowstyle-true" role="row">
                    <td role="gridcell"><span class="leaveStartDate">
                      <input type="text" class="datepicker"></span>
                    </td>
                    <td>
                      <span class="leaveStartDate"><input type="text" class="datepicker"></span>
                      </td>
                    <td>
                      <select style="width:100px;" tabindex="-1">
                        <option selected="selected" value="0">--Select--</option>
                        <option value="1">New Delhi(Metro)</option>  
                      </select>
                    </td>
                    <td>
                      <input type="text" style="width:100px;" value="0.0">
                    </td>
                    <td role="gridcell" style="width:10%;" class="litm1 AmountCol"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </span>
      </div>

      <div class="tax_simulator_block">
        <div class="income_bck_last">
          <div class="tax_block">
            <span>
              <div class="headone">
                <label title="">EXEMPTIONS</label>
              </div>
              <span>
                <div class="ui-datatable ui-widget table-header AlignRight">
                  <div class="ui-datatable-tablewrapper">
                    <table role="grid">
                      <thead>
                        <tr role="row">
                          <th class="ui-state-default" role="columnheader" style="width: 50%">
                            <span class="ui-column-title"></span>
                          </th>
                          <th class="ui-state-default litm AmountCol" role="columnheader" style="width: 50%">
                            <span class="ui-column-title"></span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="ui-datatable-data ui-widget-content">
                        <tr data-ri="0" class="ui-widget-content ui-datatable-even datatable-rowstyle-true" role="row">
                          <td role="gridcell" style="width: 50%">Transport</td>
                          <td role="gridcell" style="width: 50%" class="litm AmountCol">9600.00</td>
                        </tr>
                        <tr data-ri="1" class="ui-widget-content ui-datatable-odd datatable-rowstyle-false" role="row">
                          <td role="gridcell" style="width: 50%">House Rent Allowance</td>
                          <td role="gridcell" style="width: 50%" class="litm AmountCol">0.0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </span>
            </span>
          </div>

          <div class="tax_block">
            <span> 
              <div class="headone">
                <label title="">COMPUTEDAMOUNT</label>
              </div>
              <span>
                <div class="ui-datatable ui-widget table-header AlignRight">
                  <div class="ui-datatable-tablewrapper">
                    <table role="grid">
                      <thead>
                        <tr role="row">
                          <th class="ui-state-default" role="columnheader" style="width: 50%">
                            <span class="ui-column-title"></span>
                          </th>
                          <th class="ui-state-default litm AmountCol" role="columnheader" style="width: 50%">
                            <span class="ui-column-title"></span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="ui-datatable-data ui-widget-content">
                        <tr data-ri="0" class="ui-widget-content ui-datatable-even datatable-rowstyle-true" role="row">
                          <td role="gridcell" style="width: 50%">Gross Salary</td>
                          <td role="gridcell" style="width: 50%" class="litm AmountCol">657216.0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="lclear"></div>
      <div class="BtnRW">
        <button name="taxCalculatorForm:submitBottom" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false">
          <span class="ui-button-text ui-c">CALCULATE</span>
        </button>
        <button name="taxCalculatorForm:resetBottom" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
          <span class="ui-button-text ui-c">RESET</span>
        </button>
        <button name="taxCalculatorForm:cancelBottom" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false">
          <span class="ui-button-text ui-c">CANCEL</span>
        </button>
      </div>
    </div>
  </div>
