<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>



<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> <span id="include" class="center-body-false" style="height:900px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm" method="post" action="#" class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">
<h5>PROOF SUBMISSON FOR THE YEAR 2017-2018</h5>


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel"><div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId"><div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div></div></div><span id="newLeaveRequestForm:newLeaveRequestPanel1"><span id="newLeaveRequestForm:newLeaveRequestPanel12">
          <div class="form_content fax_m">
            <div class="panel_title"><span title="">EMPLOYEE INFORMATION</span>
            </div>

            <div class="form_content_inner"><table>
<tbody>
<tr>
<td class="td_labelCol"><label title="">
Employee Code:</label></td>
<td class="td_outputCol"><span id="newLeaveRequestForm:applicationdate">DN11117</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div></td>
<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">
Employee Name:</label></td>
<td class="td_outputCol">
  <span id="newLeaveRequestForm:applicationdate">Dileep Kumar</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div>




</td>
</tr>
<tr>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:startdate_input" title="">
Date Of Joining</label>
</td>
<td class="td_outputCol">

<span id="newLeaveRequestForm:applicationdate">20/9/2017</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div></td>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:enddate_input" title="">
Gender:</label>
</td>
<td class="td_outputCol">
<span id="newLeaveRequestForm:applicationdate">Male</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div>
</td>
</tr>

<tr>
<td class="td_labelCol">
<label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">
Date of birth:</label>
</td>
<td class="td_outputCol">

<span id="newLeaveRequestForm:applicationdate">20/09/2016</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div>

</td>
<td class="td_labelCol"><label for="newLeaveRequestForm:commentsTxtId" title="">
PAN Number:</label></td>
<td class="td_outputCol"><span id="newLeaveRequestForm:applicationdate">CMIPK3013M</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div></td>
</tr>
</tbody>
</table>


            </div>
          </div></span></span>
          <div id="investmentSubmissionForm:infoPanel" class="ui-outputpanel ui-widget">
            <div class="listing_kb">
</div>

        <div class="listing_kb">
      </div>
        
               
    <div class="listing_kb_inner sm_invest">
        </div>
                
        <div class="listing_kb">
                </div></div>

        <div id="fbpStructureForm:j_idt14338" class="ui-panel ui-widget ui-widget-content ui-corner-all" style="border:0px;" data-widget="widget_fbpStructureForm_j_idt14338"><div id="fbpStructureForm:j_idt14338_content" class="ui-panel-content ui-widget-content">
You have not yet submitted your Investment Declaration.
</div></div>
        <div id="fbpStructureForm:conditionPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all listing_content" style="border:0px;" data-widget="widget_fbpStructureForm_conditionPanel"><div id="fbpStructureForm:conditionPanel_content" class="ui-panel-content ui-widget-content">


          <span class="heading-style"><label title="">
DISCLAIMER</label></span><div id="fbpStructureForm:j_idt14355" class="ui-panel ui-widget ui-widget-content ui-corner-all listing_content_inner declaration_align" style="border:0px;" data-widget="widget_fbpStructureForm_j_idt14355"><div id="fbpStructureForm:j_idt14355_content" class="ui-panel-content ui-widget-content"><input id="fbpStructureForm:disclaimer" type="checkbox" name="fbpStructureForm:disclaimer" checked="checked" class="margin_r10 check_bk"><label class="label_bk">
I hereby confirm that I have invested / contributed the above mentioned amounts for the purpose of rebate / deduction to be considered in calculating my income tax for the current Financial Year. I further undertake that wherever eligible investments are made in the name of spouse / children / dependent parents, the same have been made out of my income and claim thereof has / shall not be made by anybody else.
</label></div></div></div></div>
        </span>