<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> 
<span id="include" class="center-body-false" style="height:666px;">



    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel">
    <div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content">




   

        <div class="listing_kb">
          <table width="100%">
            <tbody><tr>
              <td width="49%" align="left" class="titleTBnone"><span class="heading-style"><span title="">SECTION</span>
              </span></td>
              <td width="49%" align="right"></td>
            </tr>
          </tbody></table>
          <div class="listing_kb_inner"><span id="newLeaveRequestForm:entitlementPanel22"><table id="newLeaveRequestForm:leaveQuotaDetail" class="table-header" summary="Leave Quota Detail">
<thead>
<tr>
<th scope="col">
  <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Code</p>
                        <input type="text" name="" style="border-radius: 2px; width:140px; padding: 2px;">
                      </div>  
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Employee Name</p>
                        <input type="text" name="" style="border-radius: 2px;width:140px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Employee Code</p>
                        <input type="text" name="" style="border-radius: 2px;width:140px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Approver Name</p>
                        <input type="text" name="" style="border-radius: 2px;width:140px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Role Name</p>
                        <input type="text" name="" style="border-radius: 2px;width:140px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Stage</p>
                        <input type="text" name="" style="border-radius: 2px;width:140px; padding: 2px">
                      </div>
</th>
<th scope="col">
    <div>
                        <p style="color: white;  margin-bottom: -0.5px;">Status</p>
                        <input type="text" name="" style="border-radius: 2px;width:140px; padding: 2px">
                      </div>
</th>
</tr>
</thead>
<tbody>
<tr>
    <td> EL </td>
    <td> 15.0 </td>
    <td> 0.0 </td>
    <td> 1.0  </td>
    <td> 14.0</td>
    <td> 1.0  </td>
    <td> 1.0  </td>
    
</tr>
<tr>
    <td> CL\SL </td>
    <td> 12.0 </td>
    <td>  0.0 </td>
    <td> 0.5 </td>
    <td> 5.5 </td>
    <td> 1.0  </td>
    <td> 1.0  </td>
    
</tr>
</tbody>
</table>
</span>

          </div>
        </div>  






        


        </span>