
<span id="leftPanel">
    
</span>

    

<div class="ui-datatable ui-widget form_content" id="" style="margin-top:-500px;">
    <div class="ui-datatable-tablewrapper">
        <table role="grid">

            <tbody class="ui-datatable-data ui-widget-content" id="">
                <tr class="ui-widget-content ui-datatable-even ui-expanded-row" data-ri="0" role="row">
                    <td class="panel_title" role="gridcell">Policies</td>
                    <td class="panel_title" role="gridcell">
                        <div class="ui-row-toggler ui-icon ui-icon-circle-triangle-s">
                        </div>
                    </td>
                </tr>

                <tr class="ui-expanded-row-content ui-widget-content">
                    <td colspan="2">
                        <div id="" style="padding:10px;">
                            <table class="ui-panelgrid ui-widget table" id="" role="grid">
                                <tbody>
                                    <tr class="ui-widget-content" role="row">
                                        <td class="ui-panelgrid-cell td_labelColIN2" role="gridcell">Gtrans Attendence Policy:</td>
                                        <td class="ui-panelgrid-cell auto" role="gridcell">
                                            <div class="DocBlock">
                                                <span class="DocPath"><a href="media/Gtrans Attendence Policy.pdf" target="_blank" title="Gtrans Attendence Policy"><span class="display_none">Gtrans Attendence Policy./Gtrans Attendence Policy.docx</span> <span class="docSize">Gtrans Attendence Policy.docx<br>
                                                0.037124634 MB</span></a></span> <span class="DocumentIcoGroup"><span class="pdfIcon FL"></span> <label class="FL"><b>Policy</b></label></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div id="" style="padding:10px;">
                            <table class="ui-panelgrid ui-widget table" id="" role="grid">
                                <tbody>
                                    <tr class="ui-widget-content" role="row">
                                        <td class="ui-panelgrid-cell td_labelColIN2" role="gridcell">Leave policy (G-Trans):</td>
                                        <td class="ui-panelgrid-cell auto" role="gridcell">
                                            <div class="DocBlock">
                                                <span class="DocPath"><a href="media/Leave Policy.pdf" target="_blank" title="Leave policy (G-Trans)"><span class="display_none">/Leave policy (G-Trans)./Leave policy (G-Trans).docx</span> <span class="docSize">Leave policy (G-Trans).docx<br>
                                                0.015950203 MB</span></a></span> <span class="DocumentIcoGroup"><span class="pdfIcon FL"></span> <label class="FL"><b>Policy</b></label></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>


                
            </tbody>
        </table>
    </div>
</div>