<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>



<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"> <span id="include" class="center-body-false" style="height:880px;">
<form id="newLeaveRequestForm" name="newLeaveRequestForm" method="post" action="/home.jsf?cid=2" class="colorBackground" enctype="multipart/form-data">
<input type="hidden" name="newLeaveRequestForm" value="newLeaveRequestForm">


    <!-- <label title="WCAG guidelines label" styleclass="display_none"></label> -->
    <div id="newLeaveRequestForm:mainPanel" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_mainPanel"><div id="newLeaveRequestForm:mainPanel_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:reqFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_reqFldId"><div id="newLeaveRequestForm:reqFldId_content" class="ui-panel-content ui-widget-content"><div id="newLeaveRequestForm:errorMessages" class="ui-messages ui-widget" aria-live="polite"></div></div></div><span id="newLeaveRequestForm:newLeaveRequestPanel1"><span id="newLeaveRequestForm:newLeaveRequestPanel12">
          <div class="form_content fax_m">
            <div class="panel_title"><span title="">PAY SLIPS</span>
            </div>

            <div class="form_content_inner"><table>
<tbody>
<tr>
  <td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">
Select Employee Status:</label></td>
<td class="td_outputCol">



<select id="newLeaveRequestForm:leaveReasondropDown2_input" name="" tabindex="-1">
<option value="" selected="selected">Please Select</option>
<option value="resigned">Resigned</option>
<option value="active">Active</option>
<option value="prospective">Prospective</option>
<option value="exited">Exited</option>
</select>

</td>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">
Status:</label></td>
<td class="td_outputCol">



<!-- <select id="newLeaveRequestForm:leaveReasondropDown2_input" name="" tabindex="-1">
<option value="" selected="selected">Please Select</option>
<option value="423">EL</option>
<option value="424">CL\SL</option>
<option value="425">ML</option>
<option value="426">LWP</option>
</select> -->

</td>
</tr>
<tr>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:startdate_input" title="">
Employee Code:</label>
</td>
<td class="td_outputCol">


<input type="text" style="width:108px;">
</span>

<div id="newLeaveRequestForm:selectDateMessage" aria-live="polite" class="ui-message"></div></td>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:enddate_input" title="">
Select Year:</label>
</td>
<td class="td_outputCol">
<select id="newLeaveRequestForm:leaveReasondropDown2_input" name="" tabindex="-1">
<option value="" selected="selected">Please Select</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select>
</td>
</tr>

<tr>
<td class="td_labelCol">
<label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">
Select Month:</label>
</td>
<td class="td_outputCol">

<select id="newLeaveRequestForm:leaveReasondropDown1_input" name="" tabindex="-1">
<option value="" >Please Select</option>
<option value="january" >January</option>
<option value="febuary" >Feburary</option>
<option value="march" >March</option>
<option value="April" >April</option>
<option value="May" >May</option>
<option value="June" >June</option>
<option value="July" selected="selected" >July</option>
<option value="August" >August</option>
<option value="Sept" >Sept</option>
<option value="oct" >October</option>
<option value="Nov" >Nov</option>
<option value="Dec" >Dec</option>
</select>

</td>

</tr>


</tbody>
</table>


            </div>
          </div></span></span>
        
        </div>
        </span>

          </div>
        </div>



      <div class="NLleave" style="padding-bottom:235px;"><div id="newLeaveRequestForm:btnFldId" class="ui-panel ui-widget ui-widget-content ui-corner-all" data-widget="widget_newLeaveRequestForm_btnFldId"><div id="newLeaveRequestForm:btnFldId_content" class="ui-panel-content ui-widget-content"><button id="newLeaveRequestForm:updateDown" name="newLeaveRequestForm:updateDown" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">VIEW BUTTON</span></button><button id="newLeaveRequestForm:done" name="newLeaveRequestForm:done" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">CANCEL BUTTON</span></button></div></div>
      </div></div></div>
</form>


        </span>