  <script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  </script>



<div class="mdl-grid demo-content"> <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col"> <span id="include" class="center-body-false" style="height:880px;">
      <div id="donationImage"><img id="j_idt25818:0:j_idt25819" src="images/trust.jpg" alt="Hope For Future" width="500" height="300" title="Hope For Future"></div>

<form id="newLeaveRequestForm" name="newLeaveRequestForm"><div class="form_content">
            <h3><label title="">
Voluntary Contribution</label>

            </h3>
            <div class="form_content_inner"><table class="fundDetails">
<tbody>

<tr>
<td class="td_labelCol"><label title="">
Employee Code:</label></td>
<td class="td_outputCol"><span id="newLeaveRequestForm:applicationdate">GTL102</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div></td>
<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown2_focus" title="">
Employee Name:</label></td>
<td class="td_outputCol">
    <span id="newLeaveRequestForm:applicationdate">Demo</span><div id="newLeaveRequestForm:j_idt1821" aria-live="polite" class="ui-message"></div>

</td>
</tr>
<tr>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:startdate_input" title="">
Deduction StartDate:</label>
</td>
<td class="td_outputCol">

<span id="newLeaveRequestForm:startdate" class="leaveStartDate">
<input type="text" class="datepicker">
</span>

<div id="newLeaveRequestForm:selectDateMessage" aria-live="polite" class="ui-message"></div></td>

<td class="td_labelCol"><label class="redColor">
*</label><label for="newLeaveRequestForm:enddate_input" title="">
Deduction End Date:</label>
</td>
<td class="td_outputCol">
<span id="newLeaveRequestForm:enddate" class="leaveEndDate">
<input type="text" class="datepicker">
</span>
<div id="newLeaveRequestForm:endDateMessage" aria-live="polite" class="ui-message"></div>
</td>
</tr>

<tr>
<td class="td_labelCol">
<label class="redColor">
*</label><label for="newLeaveRequestForm:leaveReasondropDown1_focus" title="">
Donation Name:</label>
</td>
<td class="td_outputCol">

<select id="newLeaveRequestForm:leaveReasondropDown1_input"  style="width:40%;" name="" tabindex="-1">
<option value="" selected="selected">Please Select</option>
<option value="Rajiv Gandhi Trust">Rajiv Gandhi Trust</option>
<option value="Prime Minister's National Relief Fund" >Prime Minister's National Relief Fund</option>
<option value="Old Age Donation">Old Age Donation</option>

</select>

</td>
<td class="td_labelCol"><label for="newLeaveRequestForm:commentsTxtId" title="">
Non Taxable Percent:</label></td>
<td class="td_outputCol"><input type="text" style="width:130px;" value="0"><div id="newLeaveRequestForm:j_idt1848" aria-live="polite" class="ui-message"></div></td>
</tr>

<tr>
<td class="td_labelCol"><label title="">
Payment Choice:</label></td>
<td class="td_outputCol"><input type="text"></td>
<td class="td_labelCol"><label title="">
Payment Frequency:</label></td>
<td class="td_outputCol"><input type="text" style="width:130px;"></td>
</tr>
</tbody>
</table>


            </div>
          </div></span></span>
        

<span class="fundDetails row margin_top_10 margin_bottom_20"><div id="npsFrm:j_idt25873" class="ui-panel ui-widget ui-widget-content ui-corner-all ToolTip" data-widget="widget_npsFrm_j_idt25873"><div id="npsFrm:j_idt25873_content" class="ui-panel-content ui-widget-content">
                <table><tbody><tr>
                <td width="20" valign="top"><div id="npsFrm:j_idt25875" class="ui-chkbox ui-widget"><div class="ui-helper-hidden-accessible"><input id="npsFrm:j_idt25875_input" name="npsFrm:j_idt25875_input" type="checkbox" aria-checked="false"></div><div class="ui-chkbox-box ui-widget ui-corner-all ui-state-default"><span class="ui-chkbox-icon ui-icon ui-icon-blank ui-c"></span></div></div>
                    </td><td valign="top">I hereby declare that the contribution entitled to donation is given by me.<span class="TipContent">Self Declaration</span>
                        </td>
                        </tr>
                </tbody></table></div></div></span>
            <br><br><button id="npsFrm:j_idt25882" name="npsFrm:j_idt25882" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success"  title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Submit</span></button><button id="npsFrm:j_idt25883" name="npsFrm:j_idt25883" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn-success" title="" type="submit" role="button" aria-disabled="false"><span class="ui-button-text ui-c">Discontinue</span></button><button id="npsFrm:j_idt25884" name="npsFrm:j_idt25884" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-disabled" title="" type="submit" disabled="disabled" role="button" aria-disabled="true"><span class="ui-button-text ui-c">cancel</span></button>
                        
            </div>
        </div>


            </div>
          </div></span></span>

        <div class="listing_kb" style="padding-top:29px;">
          <table width="100%">
            <tbody><tr>
              <td width="50%" align="left" class="titleTBnone"><span class="heading-style"><span title="">My Contribution History</span>
              </span></td>
              <td width="50%" align="right"></td>
            </tr>
          </tbody></table>
          <div class="listing_kb_inner"><span id="newLeaveRequestForm:entitlementPanel22"><table id="newLeaveRequestForm:leaveQuotaDetail" class="table-header" summary="Leave Quota Detail">
<thead>
<tr>
<th scope="col"><span title="">Donation Name</span></th>
<th scope="col"><span title="">Donation Amount</span></th>
<th scope="col"><span title="">Frequency</span></th>
<th scope="col"><span title="">Deduction Start Date</span></th>
<th scope="col"><span title="">Deduction End Date</span></th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</span>

          </div>
        </div>



     
        </span>