
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="msapplication-tap-highlight" content="no" /> 
<title>Gaplogix - Open Source HRMS</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8 " />
<meta http-equiv="Content-Language" content="en-us" />

<link rel="shortcut icon" href="/images/favicon.ico?v=2" />
<link rel="stylesheet" type="text/css"  href="/adminfiles/css/select2.css"/>
<link href="../css/admin/jquery-ui-1.8.16.custom.css" media="screen" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="/adminfiles/css/tablecss.css" />
<link href="/adminfiles/css/jquery.alert.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/style.css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/wizard_css.css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/jquery.maxlength.css" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<!--[if IE 9]>  
<link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie9.css">  
<![endif]-->  

<!--[if IE 8]>  
<link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie8.css">  
<![endif]-->  

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->




<script type="text/javascript" src="/adminfiles/js/jquery-1.7.1.min.js"></script> 
<script type="text/javascript" src="/adminfiles/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/adminfiles/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="/adminfiles/js/hrms.js"></script> 
<script type="text/javascript" src="/adminfiles/js/hrmsv2.js"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/ajaxupload.3.5.js"></script>
<!-- start of time picker -->
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.ui.timepicker.js?v=0.3.2"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.plugin.js"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.maxlength.js"></script>
<script type="text/javascript" src="/adminfiles/js/jquery.simplyscroll.js"></script> 
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.alert.js"></script>
<link href="../css/jquery.ui.timepicker.css?v=0.3.2" rel="stylesheet" type="text/css" />
<!-- end of time picker -->
<script  language="JavaScript" type="text/javascript" src="/adminfiles/js/select2.js" ></script>
<!-- <script type="text/javascript" language="javascript" src="js/facescroll.js"></script>-->
<!--  <script type="text/javascript" language="javascript" src="js/jquery.ui.touch-punch.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="/adminfiles/css/custom.css" />
<link rel="stylesheet" href="/adminfiles/css/uniform.css" type="text/css" media="screen" />

<script type="text/javascript" charset="utf-8">

function checkisactivestatus()
{       
    $.ajax({
        type:"post",        /adminfiles/jsl:base_url+'/index/checkisactivestatus',
        dataType:'json',
        success: function(response)
        {
            if(response['result'] == 'false')
            {
                window.location.href = base_url+'/index/';
            }
        }
    });
}

function configlater()
{
    var URL = '';
            URL = base_url+'/wizard/updatewizardcompletion';
        
    $.ajax({
        type:"post",        
        url:URL,
        dataType:'json',
        beforeSend: function () {
            $.blockUI({ width:'50px',message: $("#spinner").html() });
        },
        success: function(response)
        {
            if(response['result'] == 'success')
            {
                window.location.href = base_url+'/welcome/';
            }
            else
            {
                $.unblockUI();
                jAlert('Something went wrong.');
            }    
        }
    });
    
}

function displayPopup(id,title)
{
    apply_select2();
    $("#unit_id").val('');
    $("#street_address").val('');
    $("#errors-unit_id").html('');
    $("#errors-street_address").remove();
    $("#successdiv").hide();
    $("#contentdiv").show();
    $("#errors-holidaygroup").remove();
    $("#errors-category_name").remove();
    $("#errors-category").remove();
    //var title = $("#"+id).html();
    $("#category_name").val('');
    $("#holidaygroup").val('');
    $("#category").val('');
    $("#description").val('');
    $("#"+id).dialog({
        draggable:false, 
        resizable: false,
        width: 500,
        title: title,
        modal: true,
        close: function() {
            closeDialogPopup('bunitdiv');
        }
    });
}

function closeDialogPopup(id) {
    $("#"+id).dialog('close');
}

</script>
<script type="text/javascript" charset="utf-8">
$(function() {
    setTimeout('hideMessg()',3000);
});
function hideMessg() {
    if($("#dispmsgmenu").is(":visible"))
      $('#dispmsgmenu').fadeOut('slow','swing');
}
// defining the project name for using in js files
var projectPath =  '/Gaplogix/';
var application_name = 'Gaplogix';

$(document).ready(function(){
  
  /* Making window responsive*/
  
    var window_width = $(window).width();
    
    var content_inners_width = window_width*(99/100);
    $('.content_inners').css("width", content_inners_width);
    $('.wrapperdivleft').css("width", "250");
    $('.wrapperdivright').css("width", (content_inners_width-250));
        
    
    function checkmainWidth() 
    {
        var window_width = $(window).width();
        var content_inners_width = window_width*(99/100);
        $('.content_inners').css("width", content_inners_width);

        $('.wrapperdivleft').css("width", "250");
        $('.wrapperdivright').css("width", (content_inners_width-250));     
    }   
    $(window).resize(function() 
    {       
                checkmainWidth();

        $("#scroller").simplyScroll({
                       auto: false,
                       speed: 10
               });
    });
  /* End of Making window responsive */         
    
});//end of ready function

$(document).ready(function(e){
     $("#submitbutton").click(function(){ 
            $.blockUI({ width:'50px',message: $("#spinner").html() });
        });   
     $("#prev,#next,#backtosite,.logo").click(function(e){ 
            if(parseFloat($.trim(e.which)) != 2 && !e.ctrlKey)
            { 
                $.blockUI({ width:'50px',message: $("#spinner").html() });
            } 
            if(parseFloat($.trim(e.which)) == 2 || parseFloat($.trim(e.which)) == 0)
            {
                $.unblockUI();
            } 
        }); 

     $(".wrapper ul li").click(function(e){ 
            if(parseFloat($.trim(e.which)) != 2 && !e.ctrlKey)
            { 
                $.blockUI({ width:'50px',message: $("#spinner").html() });
            } 
            if(parseFloat($.trim(e.which)) == 2 || parseFloat($.trim(e.which)) == 0)
            {
                $.unblockUI();
            } 
        });   
           
    

    $(document).ajaxStart(function(){       
        checkisactivestatus();
    });     
    $(document).ajaxSuccess(function(event, request, settings)
    {               
        var response = request.responseText;
        if(response == '{"login":"failed"}')
        {
            window.location.href = '/admin/trail';
        }
    }); 
    $(document).ajaxStop($.unblockUI); 
    $(document).ajaxError($.unblockUI);
        
    $("select:not(.not_appli)").select2({
        formatResult: format_select,            
        escapeMarkup: function(m) { return m; }
    });
    function format_select(selData) 
    {
    var parent_id = selData.element[0].parentElement.id;
    
        var sel_array = new Array('approver1','approver2','approver3','reporting_id','interviewer_id','reporting_manager','employee');
        if(jQuery.inArray(parent_id,sel_array) >=0)
        {
            if(parent_id == 'employee')
            {
                var title = '';
                var emp_split = selData.id.split('-');
                var textData = selData.text;

                if (selData.id == 0) return selData.text; 
                if(emp_split[0] == 'cand')
                {
                    title = 'candidate-profile_pic.jpg';                    
                }
                else if(emp_split[0] == 'emp')
                {
                    title = $('#'+parent_id+' option[value="'+selData.id+'"]').attr('title');
                }
                else 
                    title = '';
                return "<img class='flag' src='" + domain_data + "public/uploads/profile/"+title+"' onerror=\"this.src='"+domain_data+"/public/uploads/profile/profile_pic.png'\" />" + "<span>" + textData + "</span><div class='seldivimg'></div>";
            }
            else
            {
                var title = $('#'+parent_id+' option[value="'+selData.id+'"]').attr('title');
                if (!selData.id) return selData.text; 
            
                if(title == '')
                    title = "profile_pic.png";
                return "<img class='flag' src='" + domain_data + "public/uploads/profile/"+title+"' onerror=\"this.src='"+domain_data+"/public/uploads/profile/profile_pic.png'\" />" + "<span>" + selData.text + "</span><div class='seldivimg'></div>";
            }
        }
        else 
        {
            return  "<span>" + selData.text + "</span><div class='seldivimg'></div>";
        }            
    }


    });

// $(document).ready(function(){
            
//     navigator.sayswho= (function(){
//         var N= navigator.appName, ua= navigator.userAgent, tem;
//         var M= ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
//         if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
//         M= M? [M[1], M[2]]: [N, navigator.appVersion, '-?'];

//         return M;
//     })();
//     var version = parseInt(navigator.sayswho[1]);
         
//    if(navigator.userAgent.match(/firefox/i) == 'Firefox')
//     {
//         if(version<5)
//             window.location.href = "http://192.168.1.85/gaplogix/index.php/index/browserfailure";
//     }
//     else if(navigator.userAgent.match(/msie/i) == 'MSIE')
//     {        
//          if(version<8)      
//             window.location.href = "http://192.168.1.85/gaplogix/index.php/index/browserfailure";
//     }
//     else if(navigator.userAgent.match(/chrome/i) == 'Chrome')
//     {
//        if(version<13)
//             window.location.href = "http://192.168.1.85/gaplogix/index.php/index/browserfailure";
//     }
//     else if(navigator.userAgent.match(/safari/i) == 'Safari' && navigator.userAgent.match(/Android/i) != 'Android')
//     {
//        if(version<5)
//             window.location.href = "http://192.168.1.85/gaplogix/index.php/index/browserfailure";
//     }
//     else if(navigator.userAgent.match(/opera/i) == 'Opera')
//     {
//        if(version<12)
//             window.location.href = "http://192.168.1.85/gaplogix/index.php/index/browserfailure";
//     } 
        
//   });

</script>

</head>


<input type= "hidden" value= "/admin/trail" id = "baseurl" />
<input type= "hidden" value= "dd MM yy" id = "dateformatjs" />
<input type= "hidden" value= "1" id = "loginuserId" name = "loginuserId" />
<input type= "hidden" value= "" id = "dragid" />
<body class="wizard_bg">
<div id="container">
    <div id="spinner" class="ajax-loader" style="display:none;" >
    <img id="img-spinner" src="/images/loader2.gif" alt="Loading" />               
    </div>
    
    
    
    <div class="container">
    <div class="top_wrapper">
    <div id="sitediv" class="sitedivclass">
            <div class="backtosite">
                <a class="back-btn" href="#" id="backtosite" title="Redirect to application">Back To Site</a>
            </div>
            
            <div class="configlater backtosite" style="display:none;">
                <a href="javascript:void(0)" class="back-btn" onclick="configlater();" title="Configure wizard configuration later">Configure Later</a>
            </div>
    </div>
        <div class="logo" onclick="window.location='#'"></div>
    <div class="wizard_info">
        Configuration Wizard allows you to configure settings that reflect requirements unique to your organization and make your application ready to use.
    </div>
    </div>
    <div class="wrapper">
                <ul class="left_steps">
                                <li class="manage_modules inactive" id="manage_modules" onclick="window.location='/admin/trail';">
                    <div class="circle">1</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Modules</h4>
                    <span>Enable the modules that are essential to your human resource process by selecting or deselecting them.</span>
                    <div class="manage_menu progress">In Progress</div>
                </li>
                <li class="site_config inactive" id="site_config" onclick="window.location='/admin/configure';">
                    <div class="circle">2</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Site Config</h4>
                    <span>Configure the standards used in your organization by providing the site preferences.</span>
                     <div class="config_site progress">In Progress</div>
                </li>
                <li class="organization inactive" id="organization" onclick="window.location='/admin/organisation';">
                    <div class="circle">3</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Organization</h4>
                    <span>Provide your organization information to get your system up and running.</span>
                     <div class="config_organization progress">In Progress</div>
                </li>
                <li class="businessunit inactive" id="business_unit" onclick="window.location='/admin/bussiness';">
                    <div class="circle">4</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Business Units</h4>
                    <span>Configure business unit and departments in your organization.</span>
                     <div class="config_dept progress">In Progress</div>
                </li>
                <li class="servicerequest inactive" id="service_request" onclick="window.location='/admin/services';">
                    <div class="circle">5</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Service Request</h4>
                    <span>Configure service request settings used in your organization.</span>
                     <div class="config_request progress">In Progress</div>
                </li>
                                
                                <!--  <li class="management_details inactive">
                    <div class="circle">4</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Management Details</h4>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text
                    of the printing.</span>
                </li>
                <li class="hr_manager inactive">
                    <div class="circle">5</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">HR Manager</h4>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text
                    of the printing.</span>
                </li>-->
            </ul>
        <div class="content_wrapper">
			


<script type="text/javascript">
function addDepartmentDiv()
{
	var divcount = $("#multi_dept_div > div").length;
	var idcount = parseInt($('#idcount').val());
	if(divcount < 5)
	{	
		idcount = idcount + 1;
		var html = '';
		html+="<div id='parent_"+idcount+"' class='add_request'>";
		html+="<div class='form-ui'>";
		html+="<label class='required'>Department</label>";
		html+="<input type='text' maxlength='100' value='' id='department_"+idcount+"' name='department[]' class='cls_service_request_name' onblur='validateTextInput(this,\"department\")' onkeyup='validateTextInput(this,\"department\")'>";
		html+="</div>";
		html+="<div class='form-ui form-ui-textarea'>";
		html+="<label class='required'>Street Address</label>";
		html+="<textarea cols='50' rows='10' id='address_"+idcount+"' name='address[]' class='cls_address' onkeyup='validateTextArea(this,\"street address\")' onblur='validateTextArea(this,\"street address\")'></textarea>";
		html+="</div>";
		html+="<span class='sprite remove-new remove-entry' title='Remove' onclick='removeDiv("+idcount+")'></span>";
		html+="</div>";
	
		//$('#multi_dept_div').append(html);
		$('#add-candidate').before(html);
		$('#idcount').val(idcount);
		$("[id^=description]").maxlength();
	}else
	{
		jAlert('You can add only 5 departments at a time.');
	}
	
}

function validateDepartmentOnSubmit(ele)
{
    var parentdivlength = $('div[id^=parent]').length;
    var re = /^[a-zA-Z0-9\- ]+$/;
    var errorcount = 0;
    var bunitid = $('#bunit_id').val();
    $('#errors-bunit_id').remove();
	if(parentdivlength > 0)
    {                    
        $('.add_request').each(function(i){                            
            var ele= $(this).find('.cls_service_request_name');                            
            var elementid = $(ele).attr('id');

            var addressEle= $(this).find('.cls_address');                            
            var addresseleid = $(addressEle).attr('id');

            var reqValue = $(ele).val();
            $('#errors-'+elementid).remove();
            $('#errors-'+addresseleid).remove();
            if($(ele).val() == '')
            {
                $(ele).parent().append("<span class='errors' id='errors-"+elementid+"'>Please enter department name.</span>");
                errorcount++;
            }
            else if(!re.test(reqValue))
            {
                $(ele).parent().append("<span class='errors' id='errors-"+elementid+"'>Please enter valid department name.</span>");
                errorcount++;
            }
            else
            {
            	$('#errors-'+elementid).remove();
            }

            if($(addressEle).val() == '')
            {
                $(addressEle).parent().append("<span class='errors' id='errors-"+addresseleid+"'>Please enter street address.</span>");
                errorcount++;
            }
            else
            {
            	$('#errors-'+addresseleid).remove();
            }
        });
    }
    if(bunitid == '')
    {
        $('#bunit_id').parent().append("<span class='errors' id='errors-bunit_id'>Please select business unit.</span>");
    }
    else
    {
        $('#errors-bunit_id').remove();
    }

    if(errorcount == 0 && bunitid !='')
    {
        $.blockUI({ width:'50px',message: $("#spinner").html() });
        document.getElementById("wizard_unit_department").submit();
    }
}

function saveBusinessUnit()
{
	var bunit = $("#unit_id").val();
	var streetAddress = $("#street_address").val();
	var errorcount = 0;
	var re = /^[a-zA-Z0-9\- ]+$/;
	$("#errors-unit_id").remove();
	$("#errors-street_address").remove();
	$('#error_message').html('');
		if(streetAddress == '')
		{
			$("#street_address").parent().append("<span class='errors' id='errors-street_address'>Please enter street address.</span>");
			errorcount++;
		}
		if(bunit == '')
		{
			$("#unit_id").parent().append("<span class='errors' id='errors-unit_id'>Please enter name.</span>");
			errorcount++;
		}
		else if(!re.test(bunit))
		{
			$("#unit_id").parent().append("<span class='errors' id='errors-unit_id'>Please enter valid name.</span>");
			errorcount++;
		}
		
		if(errorcount==0)
		{
			$.ajax({
		     	url: base_url+"/wizard/savebusinessunit/format/json",
		     	type : 'POST',	
				data : 'bunit='+bunit+'&streetAddress='+streetAddress,
				dataType: 'json',
				beforeSend: function () {
					$.blockUI({ width:'50px',message: $("#spinner").html() });
				},
				success : function(response){	
					$.unblockUI();
					if(response['msg'] == 'success')
					{
						$("#bunit_id").append("<option value='"+response['id']+"'>"+response['unitname']+"</option>");
						$("#contentdiv").hide();
						$("#successdiv").show();
						setTimeout(function(){
							closeDialogPopup('bunitdiv');
						},3000);
						
					}else
					{
						$("#unit_id").parent().append("<span class='errors' id='errors-unit_id'>"+response['msg']+"</span>");
					}	
				}
			});
		
		}
}


</script>	

<div class="total-form-controller">
<div id="error_message" style="display:none;"></div>
<h3 class="step_main_title">Business Unit And Departments</h3>
<div class='add_emp_new'><a href='http://192.168.1.85/gaplogix/index.php/employee'>Add Employee</a></div>	
<form name="wizard_unit_department" id="wizard_unit_department" action="http://192.168.1.85/gaplogix/index.php/wizard/configureunitsanddepartments" method="POST" class="step_form">
			<div class="form-ui">
				  <label class="required">Business Unit</label>
					<select id="bunit_id" name="bunit_id">
					    																<option value="1" >Head Office</option>
																<option value="0" selected>No Business Unit</option>
											</select>
					
				<span onclick="displayPopup('bunitdiv','Business Unit');" class="add-coloum"> Add Business Unit </span>			
			</div>
				
			<div id="multi_dept_div">
							<div id='parent_0' class="add_request" style="margin:0;" >
					<div class="form-ui ">
		            <label class="required">Department </label>
							<input type="text" maxlength="100" value="" id="department_0" name="department[]" class='cls_service_request_name' onblur='validateTextInput(this,"department name")' onkeyup='validateTextInput(this,"department name")'>                            
		        	</div>
		        	
		        	<div class="form-ui form-ui-textarea">
		            <label class="required">Street Address </label>
							<textarea cols="50" rows="10" id="address_0" name="address[]" class='cls_address' onkeyup="validateTextArea(this,'street address')" onblur="validateTextArea(this,'street address')"></textarea>
		        	</div>
	        	</div>
	        	<span id="add-candidate"><span class="sprite candidate-new" onclick="addDepartmentDiv()">Add Department</span></span>
	        	        	
         	</div>
           	
        	<input type="hidden" value="0" id="idcount"/>
        	<span id="errors-maxdiv" class="errors"></span>	
        	
        	<div class="new-form-ui-submit mrgetop60">
				<button onclick="validateDepartmentOnSubmit(this)" type="button" id="submitbuttons" name="submitbutton">Save</button>
					
			</div>
</form>	
</div>		


<div id="bunitdiv" style="display: none; ">	
				
					 <div class="total-form-controller" >	
					 <div id="successdiv" style="display:none;">
						<div class='ml-alert-1-success'>
						<div class='style-1-icon success'></div>
							Business Unit added succesfully
					  </div>
					 </div>	
					 <div id="error_message_unit" style="display:none;"></div>	
					  <div id="contentdiv"> 
					 		
							<div class="new-form-ui ">
				            	<label class="required">Name</label>
				            	<div class="division">
									<input type="text" onkeyup="validateTextInput(this,'name')" onblur="validateTextInput(this,'name')" name="unit_id" id="unit_id" value="" maxlength="50">                            
								</div>
				        	</div>
				        	
				        	<div class="new-form-ui textareaheight">
				            <label class="required">Street Address </label>
					            <div class="division">
									<textarea name="street_address" id="street_address" onkeyup="validateTextArea(this,'street address')" onblur="validateTextArea(this,'street address')"></textarea>
							    </div>
				        	</div>
				        	
				        	<div class="new-form-ui-submit">
						
							<input type="button" value="Save" id="submitqs" name="submitqs" onclick="saveBusinessUnit()"/>																	
							<button name="Cancels" id="Cancels" type="button" onclick="closeDialogPopup('bunitdiv')">Cancel</button>
							
							</div>
					 </div>  
					 </div>
</div>


			<div class="nxt_pre_button">
				<button class="Prev_butt" name="prev" id="prev" type="button" onclick="window.location='/admin/organisation';">Prev</button>
				<button class="next_butt" name="next" id="next" type="button" onclick="window.location='/admin/services';">Next</button>		
			</div>
	

<script type="text/javascript" >

$(document).ready(function(){

	var counter = 0;
	
    		
								
								 							$(".manage_modules").removeClass('inactive').addClass('completed inactive');
						$(".manage_menu").removeClass('progress').addClass('completed_show');
						$(".manage_menu").html('Completed');
																$(".site_config").removeClass('inactive').addClass('completed inactive');
						$(".config_site").removeClass('progress').addClass('completed_show');
						$(".config_site").html('Completed');
																$(".organization").removeClass('inactive').addClass('completed inactive');
						$(".config_organization").removeClass('progress').addClass('completed_show');
						$(".config_organization").html('Completed');
																					$(".servicerequest").removeClass('inactive').addClass('completed inactive');
						$(".config_request").removeClass('progress').addClass('completed_show');
						$(".config_request").html('Completed');
										
											$(".businessunit").removeClass('inactive');
						$("#business_unit").removeAttr("onclick");
						$("#business_unit" ).unbind( "click");
										
					});
</script>    

			










 	
					</div>		            
		         <div style="clear: both;"></div>
               </div>
    </div>

<script type="text/javascript" src="../js/admin/jquery.form_3.39.js"></script><!-- added on 07-aug-2013 by rama krishna -->
<script type="text/javascript" src="../js/admin/jquery.blockUI_2.64.js"></script><!-- added on 07-aug-2013 by rama krishna -->
<script type="text/javascript" language="javascript">
$(document).ready(function() {
 /* Making window responsive*/
 	var complete_empwidth = $('.emp-screen-view').width();
	$('#displayimg').css("width", "150");
	$('#personalDetailsDiv').css("width", (complete_empwidth-(152)));	
		
	 function checkempWidth() {
        var complete_empwidth = $('.emp-screen-view').width();		
		$('#displayimg').css("width", "150");
		$('#personalDetailsDiv').css("width", (complete_empwidth-(152)));		
    }
	
	/* Making window responsive*/
 	var complete_width = $('.poc-ui-data-control').width();
	$('.left-block-ui-data').css("width", "230");
	$('.right-block-data').css("width", (complete_width-(263)));	
		
	 function checkWidth() {
        var complete_width = $('.poc-ui-data-control').width();		
		$('.left-block-ui-data').css("width", "230");
		$('.right-block-data').css("width", (complete_width-(263)));		
    }
	
	
	function checknew1Width() {
        var complete_width = $('.short-ui-full-1').width();		
		$('.short-ui-full-1 label').css("width", "160");
		$('.short-ui-full-1 .division1').css("width", (complete_width-(190)));	
    }

	/* Making window responsive*/
 	var complete_width = $('.short-ui-full-1').width();
	$('.short-ui-full-1 label').css("width", "160");
	$('.short-ui-full-1 .division1').css("width", (complete_width-(190)));	
	
	 
	$(window).resize(function() {
		checkWidth();
		checkempWidth();
		checknew1Width();
	});

	//$('.step_form').alternateScroll({ 'horizontal-bar-class': 'styled-h-bar'});
	
});	
	
</script>



</body>
</html>