<!DOCTYPE html>
<html>
<head>
    <meta content="no-cache" http-equiv="Pragma">
    <meta content="0" http-equiv="expires">
    <meta content="no" name="msapplication-tap-highlight">
    <title>Gaplogix - Open Source HRMS</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <meta content="en-us" http-equiv="Content-Language">
    <link href="/images/favicon.ico?v=2" rel="shortcut icon">
    <link href="/adminfiles/css/select2.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/jquery-ui-1.8.16.custom.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/tablecss.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/jquery.alert.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/style.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/wizard_css.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/jquery.maxlength.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <!--[if IE 9]>  
    <link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie9.css">  
    <![endif]--><!--[if IE 8]>  
    <link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie8.css">  
    <![endif]--><!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->

    <script src="/adminfiles/js/jquery-1.7.1.min.js" type="text/javascript">
    </script>
    <script src="/adminfiles/js/jquery-1.10.2.min.js" type="text/javascript">
    </script>
    <script src="/adminfiles/js/jquery-ui-1.10.3.custom.js" type="text/javascript">
    </script>
    <script src="/adminfiles/js/hrms.js" type="text/javascript">
    </script>
    <script src="/adminfiles/js/hrmsv2.js" type="text/javascript">
    </script>
    <script language="javascript" src="/adminfiles/js/ajaxupload.3.5.js" type="text/javascript">
    </script><!-- start of time picker -->

    <script language="javascript" src="/adminfiles/js/jquery.ui.timepicker.js?v=0.3.2" type="text/javascript">
    </script>
    <script language="javascript" src="/adminfiles/js/jquery.plugin.js" type="text/javascript">
    </script>
    <script language="javascript" src="/adminfiles/js/jquery.maxlength.js" type="text/javascript">
    </script>
    <script src="/adminfiles/js/jquery.simplyscroll.js" type="text/javascript">
    </script>
    <script language="javascript" src="/adminfiles/js/jquery.alert.js" type="text/javascript">
    </script>
    <link href="/adminfiles/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css"><!-- end of time picker -->

    <script language="JavaScript" src="/adminfiles/js/select2.js" type="text/javascript">
    </script><!-- <script type="text/javascript" language="javascript" src="js/facescroll.js"></script>-->
    <!--  <script type="text/javascript" language="javascript" src="js/jquery.ui.touch-punch.min.js"></script>-->
    <link href="/adminfiles/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/adminfiles/css/uniform.css" media="screen" rel="stylesheet" type="text/css">
    <script src="/adminfiles/js/bussiness/bussiness.js" type="text/javascript">
    </script>
    <script src="/adminfiles/js/bussiness/bussiness1.js" type="text/javascript">
    </script><!-- added on 11-aug-2017 by abhay prakash -->
</head>
<body>
    <form>
        <input id="baseurl" type="hidden" value="/admin/trail"> <input id="dateformatjs" type="hidden" value="dd MM yy"> <input id="loginuserId" name="loginuserId" type="hidden" value="1"> <input id="dragid" type="hidden" value="">
    </form>
    <div class="ajax-loader" id="spinner" style="display:none;"><img alt="Loading" id="img-spinner" src="/images/loader2.gif"></div>
    <div class="container">
        <div class="top_wrapper">
            <div class="sitedivclass" id="sitediv">
                <div class="backtosite">
                    <a class="back-btn" href="#" id="backtosite" title="Redirect to application">Back To Site</a>
                </div>
                <div class="configlater backtosite" style="display:none;">
                    <a class="back-btn" href="javascript:void(0)" onclick="configlater();" title="Configure wizard configuration later">Configure Later</a>
                </div>
            </div>
            <div class="logo" onclick="window.location='#'"></div>
            <div class="wizard_info">
                Configuration Wizard allows you to configure settings that reflect requirements unique to your organization and make your application ready to use.
            </div>
        </div>
        <div class="wrapper">
            <ul class="left_steps">
                <!-- <li class="manage_modules inactive" id="manage_modules" onclick="window.location='/admin/trail';"> -->
                <li class="manage_modules inactive" id="manage_modules" onclick="window.location='/admin/managemenu';">
                    <div class="circle">
                        1
                    </div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Modules</h4><span>Enable the modules that are essential to your human resource process by selecting or deselecting them.</span>
                    <div class="manage_menu progress">
                        In Progress
                    </div>
                </li>
                <li class="site_config inactive" id="site_config" onclick="window.location='/admin/configure';">
                    <div class="circle">
                        2
                    </div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Site Config</h4><span>Configure the standards used in your organization by providing the site preferences.</span>
                    <div class="config_site progress">
                        In Progress
                    </div>
                </li>
                <li class="organization inactive" id="organization" onclick="window.location='/admin/organisation';">
                    <div class="circle">
                        3
                    </div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Organization</h4><span>Provide your organization information to get your system up and running.</span>
                    <div class="config_organization progress">
                        In Progress
                    </div>
                </li>
                <li class="businessunit inactive" id="business_unit" onclick="window.location='/admin/bussiness';">
                    <div class="circle">
                        4
                    </div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Business Units</h4><span>Configure business unit and departments in your organization.</span>
                    <div class="config_dept progress">
                        In Progress
                    </div>
                </li>
                <li class="servicerequest inactive" id="service_request" onclick="window.location='/admin/services';">
                    <div class="circle">
                        5
                    </div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Service Request</h4><span>Configure service request settings used in your organization.</span>
                    <div class="config_request progress">
                        In Progress
                    </div>
                </li>
            </ul>
            <div class="content_wrapper">
                <script src="/adminfiles/js/bussiness/bussiness2.js" type="text/javascript">
                </script> <!-- added on 11-aug-2017 by abhay prakash -->
                <div class="total-form-controller">
                    <div id="error_message" style="display:none;"></div>
                    <h3 class="step_main_title">Business Unit And Departments</h3>
                    <div class='add_emp_new'>
                        <a href='http://192.168.1.85/gaplogix/index.php/employee'>Add Employee</a>
                    </div>
                    <form class="step_form" id="wizard_unit_department" method="post" name="wizard_unit_department">
                        <div class="form-ui">
                            <label class="required">Business Unit</label> <select id="bunit_id" name="bunit_id">
                                <option value="1">
                                    Head Office
                                </option>
                                <option selected value="0">
                                    No Business Unit
                                </option>
                            </select> <span class="add-coloum" onclick="displayPopup('bunitdiv','Business Unit');">Add Business Unit</span>
                        </div>
                        <div id="multi_dept_div">
                            <div class="add_request" id='parent_0' style="margin:0;">
                                <div class="form-ui">
                                    <label class="required">Department</label> <input class='cls_service_request_name' id="department_0" maxlength="100" name="department[]" onblur='validateTextInput(this,"department name")' onkeyup='validateTextInput(this,"department name")' type="text" value="">
                                </div>
                                <div class="form-ui form-ui-textarea">
                                    <label class="required">Street Address</label> 
                                    <textarea class='cls_address' cols="50" id="address_0" name="address[]" onblur="validateTextArea(this,'street address')" onkeyup="validateTextArea(this,'street address')" rows="10"></textarea>
                                </div>
                            </div><span id="add-candidate"><span class="sprite candidate-new" onclick="addDepartmentDiv()">Add Department</span></span>
                        </div><input id="idcount" type="hidden" value="0"> <span class="errors" id="errors-maxdiv"></span>
                        <div class="new-form-ui-submit mrgetop60">
                            <button id="submitbuttons" name="submitbutton" onclick="validateDepartmentOnSubmit(this)" type="button">Save</button>
                        </div>
                    </form>
                </div><!-- business unit div pop up -->
                <div id="bunitdiv" style="display: none;">
                    <div class="total-form-controller">
                        <div id="successdiv" style="display:none;">
                            <div class='ml-alert-1-success'>
                                <div class='style-1-icon success'></div>Business Unit added succesfully
                            </div>
                        </div>
                        <div id="error_message_unit" style="display:none;"></div>
                        <div id="contentdiv">
                            <div class="new-form-ui">
                                <label class="required">Name</label>
                                <div class="division">
                                    <input id="unit_id" maxlength="50" name="unit_id" onblur="validateTextInput(this,'name')" onkeyup="validateTextInput(this,'name')" type="text" value="">
                                </div>
                            </div>
                            <div class="new-form-ui textareaheight">
                                <label class="required">Street Address</label>
                                <div class="division">
                                    <textarea id="street_address" name="street_address" onblur="validateTextArea(this,'street address')" onkeyup="validateTextArea(this,'street address')"></textarea>
                                </div>
                            </div>
                            <div class="new-form-ui-submit">
                                <input id="submitqs" name="submitqs" onclick="saveBusinessUnit()" type="button" value="Save"> <button id="Cancels" name="Cancels" onclick="closeDialogPopup('bunitdiv')" type="button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nxt_pre_button">
                    <button class="Prev_butt" id="prev" name="prev" onclick="window.location='/admin/organisation';" type="button">Prev</button> <button class="next_butt" id="next" name="next" onclick="window.location='/admin/services';" type="button">Next</button>
                </div>
                <script src="/adminfiles/js/bussiness/bussiness3.js" type="text/javascript">
                </script> <!-- added on 11-aug-2017 by abhay prakash -->
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <script src="/adminfiles/js/jquery.form_3.39.js" type="text/javascript">
    </script> <!-- added on 11-aug-2017 by abhay prakash --> 
    <script src="/adminfiles/js/jquery.blockUI_2.64.js" type="text/javascript">
    </script> <!-- added on 11-aug-2017 by abhay prakash --> 
    <script src="/adminfiles/js/bussiness/bussiness4.js" type="text/javascript">
    </script> <!-- added on 11-aug-2017 by abhay prakash -->
</body>
</html>