<!DOCTYPE html>
<html>
<head>
  <meta content="no-cache" http-equiv="Pragma">
  <meta content="0" http-equiv="expires">
  <meta content="no" name="msapplication-tap-highlight">
  <title>Gaplogix - Open Source HRMS</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-type">
  <meta content="en-us" http-equiv="Content-Language">
  <link href="..../images/favicon.ico?v=2" rel="shortcut icon">
  <link href="../images/favicon.ico?v=2" rel="shortcut icon">
  <link href="/images/favicon.ico?v=2" rel="shortcut icon">
  <link href="/adminfiles/css/select2.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/jquery-ui-1.8.16.custom.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/tablecss.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/jquery.alert.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/fonts.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/style.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/wizard_css.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/jquery.maxlength.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>

  <script src="/adminfiles/js/jquery-1.7.1.min.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/jquery-1.10.2.min.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/jquery-ui-1.10.3.custom.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/hrms.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/hrmsv2.js" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/ajaxupload.3.5.js" type="text/javascript">
  </script>
  <!-- start of time picker -->

  <script language="javascript" src="/adminfiles/js/jquery.ui.timepicker.js?v=0.3.2" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/jquery.plugin.js" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/jquery.maxlength.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/jquery.simplyscroll.js" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/jquery.alert.js" type="text/javascript">
  </script>
  <link href="/adminfiles/css/jquery.ui.timepicker.css?v=0.3.2" rel="stylesheet" type="text/css">
  <!-- end of time picker -->

  <script language="JavaScript" src="/adminfiles/js/select2.js" type="text/javascript">
  </script>

  <link href="/adminfiles/css/custom.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/uniform.css" media="screen" rel="stylesheet" type="text/css">

  <script charset="utf-8" type="text/javascript" src="/adminfiles/js/config/first.js"> </script>
  <script charset="utf-8" type="text/javascript" src="/adminfiles/js/config/second.js"></script>
  <script type="text/javascript" charset="utf-8" src="/adminfiles/js/config/config1.js"></script>
</head>
<body>
  <form>
      <input id="baseurl" type="hidden" value="/admin/managemenu"> 
      <input id="dateformatjs" type="hidden" value="dd MM yy"> <input id="loginuserId" name="loginuserId" type="hidden" value="1"> <input id="dragid" type="hidden" value="">
  </form>
  <div id="container">
    <div class="ajax-loader" id="spinner" style="display:none;"><img alt="Loading" id="img-spinner" src="/images/loader2.gif"></div>
      <div class="container">
        <div class="top_wrapper">
          <div class="sitedivclass" id="sitediv">
              <div class="backtosite">
                  <a class="back-btn" href="#" id="backtosite" title="Redirect to application">Back To Site</a>
              </div>
              <div class="configlater backtosite" style="display:none;">
                  <a class="back-btn" href="javascript:void(0)" onclick="configlater();" title="Configure wizard configuration later">Configure Later</a>
              </div>
          </div>
          <div class="logo" onclick="window.location='#'"></div>
          <div class="wizard_info">
              Configuration Wizard allows you to configure settings that reflect requirements unique to your organization and make your application ready to use.
          </div>
        </div>

        <div class="wrapper">
          <ul class="left_steps">
            <li class="manage_modules inactive" id="manage_modules" onclick="window.location='/admin/managemenu';">
              <div class="circle">1</div>
              <div class="circle cir_completed"></div>
              <h4 class="step_title">Modules</h4><span>Enable the modules that are essential to your human resource process by selecting or deselecting them.</span>
              <div class="manage_menu progress">In Progress</div>
            </li>
            <li class="site_config inactive" id="site_config" onclick="window.location='/admin/configure';">
              <div class="circle">2</div>
              <div class="circle cir_completed"></div>
              <h4 class="step_title">Site Config</h4><span>Configure the standards used in your organization by providing the site preferences.</span>
              <div class="config_site progress">In Progress</div>
            </li>
            <li class="organization inactive" id="organization" onclick="window.location='/admin/organisation';">
              <div class="circle">3</div>
              <div class="circle cir_completed"></div>
              <h4 class="step_title">Organization</h4><span>Provide your organization information to get your system up and running.</span>
              <div class="config_organization progress">In Progress</div>
            </li>
            <li class="businessunit inactive" id="business_unit" onclick="window.location='/admin/bussiness';">
              <div class="circle ">4</div>
              <div class="circle cir_completed"></div>
              <h4 class="step_title">Business Units</h4><span>Configure business unit and departments in your organization.</span>
              <div class="config_dept progress">In Progress</div>
            </li>
            <li class="servicerequest inactive" id="service_request" onclick="window.location='/admin/services';">
              <div class="circle">5</div>
              <div class="circle cir_completed"></div>
              <h4 class="step_title">Service Request</h4><span>Configure service request settings used in your organization.</span>
              <div class="config_request progress">In Progress</div>
            </li>   
          </ul>

          <div class="content_wrapper">
            <script type="text/javascript" src="/adminfiles/js/config/config2.js"></script>
            <!-- added on 11-aug-2017 by abhay prakash -->
            <div class="total-form-controller">
              <div id="error_message" style="display:none;"></div>
              <h3 class="step_main_title">Site Configuration</h3>
              <div class='add_emp_new'>
                  <a href='http://192.168.1.85/gaplogix/index.php/employee'>Add Employee</a>
              </div>
              <form onSubmit="configData()" class="step_form" id="formid" name="systempreference">
                <input id="id" name="id" type="hidden" value="1">
                <input id="currencyid" name="currencyid" type="hidden" value="">
                <input id="organisationid" name="organisationid" type="hidden" value="1">
                <input id="empcodeid" name="empcodeid" type="hidden" >
                <div class="form-ui">
                  <label class="required">Employee Code <img class="tooltip" src="/adminfiles/images/help.png" title="Provide the employee code followed by your organization. Ex: EMPP001"></label> 
                  <input id="employee_code" maxlength="5" name="employee_code" type="text">
                </div>
                <div class="form-ui">
                  <label class="required">Currency <img class="tooltip" src="../images/help.png" title="Currency followed by your organization. Ex: US Dollar, Indian Rupee"></label> 
                  <select id="currencyname" name="currencyname" onchange="displayOtherCurrency(this)">
                    <option label="Select Currency" value="">
                        Select Currency
                    </option>
                    <option label="European Euro (EUR)" value="2">
                        European Euro (EUR)
                    </option>
                    <option label="Indian Rupee (INR)" value="4">
                        Indian Rupee (INR)
                    </option>
                    <option label="Pound Sterling (GBP)" value="3">
                        Pound Sterling (GBP)
                    </option>
                    <option label="US Dollar (USD)" value="1">
                        US Dollar (USD)
                    </option>
                    <option label="Other" value="other">
                        Other
                    </option>
                  </select>
                </div>
                <div class="form-ui" id="othercurrencydiv" style=" display:none;">
                    <label class="required">Other Currencyname</label> <input id="othercurrencyname" maxlength="50" name="othercurrencyname" type="text" value="">
                </div>
                <div class="form-ui" id="othercurrencycodediv" style="display:none;">
                    <label class="required">Other Currencycode</label> <input id="othercurrencycode" maxlength="50" name="othercurrencycode" type="text" value="">
                </div>
                <div class="form-ui">
                  <label class="required">Date Format <img class="tooltip" title="Set the Date Format followed by your organization. Ex: 16/12/2014, 2014/12/16" src="../images/help.png">
                  </label>
                  <select name="dateformatid" id="dateformatid">
                    <option value="" example="">Select Date Format</option>
                    <option  value="2" example="01/01/2013" >American month, day and year</option>
                    <option  value="3" example="2013/10/01" >Four digit year, month and day with slashes</option>
                    <option  value="4" example="2013-03-31" >Year, month and day with dashes</option>
                    <option  value="5" example="10.01.2013" >Day, month and four digit year with dots</option>
                    <option  value="6" example="10-01-2013" >Day, month and four digit year with dashes</option>
                    <option  value="9" example="04 October 2013" >Day, textual month and year</option>
                    <option  value="10" example="July 1st, 2008" >Textual month, day and year</option>
                    <option  value="11" example="Apr-17-2012" >Month abbreviation, day and year</option>
                    <option  value="12" example="2013-Dec-22" >Year, month abbreviation and day</option>
                  </select>               
                  <span id="id_date_format_example" class="hint-new"></span>
                </div>
                <div class="form-ui">
                  <label class="required">Time Format <img class="tooltip" title="Set the Time Format followed by your organization. Ex: 21:10, 21:10:10" src="../images/help.png">
                  </label>
                  <select name="timeformatid" id="timeformatid">
                    <option value="" example="">Select Time Format</option>
                    <option  value="1" example="9 AM" >Hour only, with meridian</option>
                    <option  value="2" example="9:10 AM" >Hour and minutes, with meridian</option>
                    <option  value="3" example="9:10:10 AM" >Hour, minutes and seconds, with meridian</option>
                    <option  value="5" example="22:10" >Hour and minutes, 24 Hours Notation</option>
                    <option  value="6" example="15:10:55" >Hour, minutes and seconds, 24 Hours Notation</option>
                  </select>
                  <span id="id_time_format_example" class="hint-new"></span>            
                </div>
                <div class="form-ui">
                  <label class="required">Default Time Zone <img class="tooltip" src="../images/help.png" title="Set the Default Time Zone. Ex: Asia/Kolkata[IST], America/New_York[EDT]">
                  </label> 
                  <select class="selectoption" id="timezoneid" name="timezoneid">
                    <option label="Select Time zone" value="">
                        Select Time zone
                    </option>
                    <option label="Asia/Kolkata [IST]" value="1">
                        Asia/Kolkata [IST]
                    </option>
                  </select> 
                  <!-- <span class="add-coloum" onclick="displaydeptform('/popup','Timezone');">Add Time zone</span> -->
                  <span class="add-coloum" onclick="displayPopup('hello','Timezone');">Add Time zone</span>
                  
                </div>
                <!-- country section -->
                <div class="form-ui">
                  <label class="required">Country <img class="tooltip" src="/adminfiles/images/help.png" title="Select a Country in which your organization is located. Ex: India, United Kingdom">
                  </label> 
                  <select id="perm_country" name="perm_country" onchange='displayParticularState(this,"","perm_state","")'>
                      <!-- <option label="Select Country" value="">
                          Select Country
                      </option> -->
                  </select>  
                </div>
                <!-- state section -->
                <div class="form-ui">
                  <label class="required">State <img class="tooltip" src="/adminfiles/images/help.png" title="Select a State in which your organization is located. Ex: Alaska, Alabama">
                  </label>
                  <select id="perm_state" name="perm_state" onchange='displayParticularCity(this,"","perm_city","")'>

                  </select> 
                  <span class="errors" id="errors-perm_state" style="display:none;"></span>
                </div>

                <div class="form-ui">
                  <label class="required">City <img class="tooltip" src="../images/help.png" title="Select a City in which your organization is located. Ex: Buffalo, New York"></label> 
                  <select id="perm_city" name="perm_city">
                    <option label="Select City" value="">
                        Select City
                    </option> 
                  </select> 
                  <span class="errors" id="errors-perm_city" style="display:none;"></span>
                </div>
                <div class="form-ui">
                  <label class="required">Default Password <img class="tooltip" src="../images/help.png" title="Default password format applicable to entire organization."></label> 
                  <select class="selectoption" id="passwordid" name="passwordid" onchange="displayPasswordDesc(this)">
                    <option label="Select Password Preference" value="">
                        Select Password Preference
                    </option>
                    <option label="Alphanumeric" value="1">
                        Alphanumeric
                    </option>
                    <option label="Alphanumeric and Special Characters" value="2">
                        Alphanumeric and Special Characters
                    </option>
                    <option label="Only Numbers" value="3">
                        Only Numbers
                    </option>
                    <option label="Numbers and Special Characters" value="4">
                        Numbers and Special Characters
                    </option>
                  </select>
                </div>
                <div class="password_hint" id="password_1" style="display:none; margin-top: -36px;">
                    The password should contain atleast one alphabet and one number. The minimum length should be 6 characters and maximum length should be 15 characters. Eg: myname123
                </div>
                <div class="password_hint" id="password_2" style="display:none; margin-top: -36px;">
                    The password should contain atleast one alphabet, one number and one special character. The minimum length should be 6 characters and maximum length should be 15 characters. Allowed special characters are .-#$@&_* Example: myname123@#
                </div>
                <div class="password_hint" id="password_3" style="display:none; margin-top: -36px;">
                    The password should contain only numbers. The minimum length should be 6 characters and maximum length should be 15 characters. Eg: 123456
                </div>
                <div class="password_hint" id="password_4" style="display:none; margin-top: -36px;">
                    The password should contain atleast one number and one special character. The minimum length should be 6 characters and maximum length should be 15 characters. Allowed special characters are .-#$@&_* Example: 1234@#$
                </div>
                <div class="form-ui form-ui-textarea">
                  <label class="required">Employment Status <img class="tooltip" src="../images/help.png" title="Employment status of the employees. Ex: permanent, temporary, probation">
                  </label> 
                  <select id="workcodename" multiple="multiple" name="workcodename[]">
                    <option label="Contract" value="6">
                        Contract
                    </option>
                    <option label="Deputation" value="7">
                        Deputation
                    </option>
                    <option label="Full Time" value="1">
                        Full Time
                    </option>
                    <option label="Left" value="9">
                        Left
                    </option>
                    <option label="Part Time" value="2">
                        Part Time
                    </option>
                    <option label="Permanent" value="3">
                        Permanent
                    </option>
                    <option label="Probationary" value="5">
                        Probationary
                    </option>
                    <option label="Resigned" value="8">
                        Resigned
                    </option>
                    <option label="Suspended" value="10">
                        Suspended
                    </option>
                    <option label="Temporary" value="4">
                        Temporary
                    </option>
                  </select>
                </div>
                <div class="new-form-ui-submit">
                    <input name="submit" type="submit" value="Save">
                </div>
              </form>
              <script type="text/javascript" src="/adminfiles/js/config/config6.js"></script>
            </div>
            <div id="currencyContainer" style="display: none; overflow: auto;">
              <div class="heading">
                <a href="javascript:void(0)"><img align="right" border="0" class="closeAttachPopup" hspace="3" name="" src="/adminfiles/images/close.png" style="margin: -24px 8px 0 0;" vspace="5"></a>
              </div>
              <iframe class="business_units_iframe" frameborder="0" id="currencyCont" name="currencyCont"></iframe>
            </div>
            <div id="timezoneContainer" style="display: none; overflow: auto;">
              <div class="heading">
                <a href="javascript:void(0)"><img align="right" border="0" class="closeAttachPopup" hspace="3" name="" src="../images/close.png" style="margin: -24px 8px 0 0;" vspace="5"></a>
              </div>
              <iframe class="business_units_iframe" frameborder="0" id="timezoneCont" name="timezoneCont"></iframe>
            </div>

            <script type="text/javascript" src="/adminfiles/js/config/config3.js"></script>
            <!-- added on 11-aug-2017 by abhay prakash -->
            <script type="text/javascript" src="/adminfiles/js/config/config4.js"></script>
            <!-- added on 11-aug-2017 by abhay prakash -->

            <div class="nxt_pre_button">
              <button class="Prev_butt" id="prev" name="prev" onclick="window.location='/admin/managemenu';" type="button">Prev</button> 
              <button class="next_butt" id="next" name="next" onclick="window.location='/admin/organisation';" type="button">Next</button>
            </div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <script src="/adminfiles/js/jquery.form_3.39.js" type="text/javascript"></script>
      <!-- added on 11-aug-2017 by abhay prakash -->
      <script src="/adminfiles/js/jquery.blockUI_2.64.js" type="text/javascript">
      </script> 
      <script src="/adminfiles/js/hrms.js" type="text/javascript"></script>
      <!-- added on 11-aug-2017 by abhay prakash -->
      <script language="javascript" type="text/javascript" src="/adminfiles/js/config/config5.js"></script><!-- added on 11-aug-2017 by abhay prakash -->
    </div>


    <!-- popup div -->
    <div id="hello">
      <div id="error_message" style="display:none;"></div>
    <!-- <form action="http://192.168.1.25/gaplogix/index.php/timezone/addpopup" id="formid" method="post" name="timezone"> -->
    <form onsubmit="addtimeZone()" id="formtimezonis">
      <input id="id" name="id" type="hidden" value="">
      <div class="total-form-controller">
        <div class="new-form-ui-multi clearb">
          <label class="required">Time zone <img class="tooltip" src="/gaplogix/public/media/images/help.png" title="Ex: America/Atikokan [EST]"></label>
          <div class="division">
            <select id="timezone" multiple="multiple" name="timezone[]">
              
            </select>
          </div>
        </div>
        <div class="new-form-ui clearb textareaheight">
          <label>Description</label>
          <div class="division">
            <textarea cols="50" id="description" maxlength="200" name="description" rows="10"></textarea>
          </div>
        </div>
        <div class="new-form-ui-submit">
          <input id="submittimezone" name="submit" type="submit" value="Save">
          <button onclick="closeDialogPopup('hello');" type="button">Cancel</button>
        </div>
      </div>
    </form>
    <script type="text/javascript">
      var xhttp = new XMLHttpRequest();
      xhttp.open("GET", "https://gapapi-100.appspot.com/api/main/timezone/", false);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send();
      timedata = JSON.parse(xhttp.responseText).timezone_data;

      var timezone = $("#timezone");

      $.each(timedata, function(index, value) {
        var optinons = new Option(value['timezone']+" ["+value['timezone_abbr']+"]");
        optinons.setAttribute('value', value['id']);
        optinons.setAttribute('label', value['timezone']+" ["+value['timezone_abbr']+"]");
        timezone.append(optinons);
      });

      var addtimeZone = function(){
        var tzones = $("#timezone").val();
        var description = $("#description").val();
        var tz = tzones.join();

        var senData = {'timeZoneId':tz, 'description':description}
        console.log(senData);
        var xhttpd = new XMLHttpRequest();
        xhttpd.open("POST", "https://gapapi-100.appspot.com/api/add/new/timezone/", false);
        xhttpd.setRequestHeader("Content-type", "application/json");
        xhttpd.send(JSON.stringify(senData));
        successdata = JSON.parse(xhttp.responseText).success;
        console.log(successdata)

        // $.each(tzones, function(index, value){
        //   var senData = {'timeZoneId':value, 'description':description}
        //   console.log(senData);
        //   var xhttpd = new XMLHttpRequest();
        //   xhttpd.open("POST", "https://gapapi-100.appspot.com/api/add/new/timezone/", false);
        //   xhttpd.setRequestHeader("Content-type", "application/json");
        //   xhttpd.send(JSON.stringify(senData));
        //   successdata = JSON.parse(xhttp.responseText).success;
        //   console.log(successdata)
        // });
      }
    </script>
    </div>
  </body>
</html>