<!DOCTYPE html>
<html>
<head>
  <meta content="no-cache" http-equiv="Pragma">
  <meta content="0" http-equiv="expires">
  <meta content="no" name="msapplication-tap-highlight">
  <title>Gaplogix - We Create Expreance</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-type">
  <meta content="en-us" http-equiv="Content-Language">
  <link href="/images/favicon.ico?v=2" rel="shortcut icon">
  <link href="/adminfiles/css/select2.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/jquery-ui-1.8.16.custom.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/tablecss.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/jquery.alert.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/fonts.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/style.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/wizard_css.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/jquery.maxlength.css" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/uniform.css" media="screen" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'><!--[if IE 9]>  
<link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie9.css">  
<![endif]--><!--[if IE 8]>  
<link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie8.css">  
<![endif]--><!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

  <script src="/adminfiles/js/jquery-1.7.1.min.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/jquery-1.10.2.min.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/jquery-ui-1.10.3.custom.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/hrms.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/hrmsv2.js" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/ajaxupload.3.5.js" type="text/javascript">
  </script><!-- start of time picker -->

  <script language="javascript" src="/adminfiles/js/jquery.ui.timepicker.js?v=0.3.2" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/jquery.plugin.js" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/jquery.maxlength.js" type="text/javascript">
  </script>
  <script src="/adminfiles/js/jquery.simplyscroll.js" type="text/javascript">
  </script>
  <script language="javascript" src="/adminfiles/js/jquery.alert.js" type="text/javascript">
  </script><!-- end of time picker -->

  <script language="JavaScript" src="/adminfiles/js/select2.js" type="text/javascript">
  </script>
  <script language="JavaScript" src="/adminfiles/js/CustomeChecker.js" type="text/javascript">
  </script>
  <link href="/adminfiles/css/jquery.ui.timepicker.css?v=0.3.2" rel="stylesheet" type="text/css">
  <link href="/adminfiles/css/custom.css" rel="stylesheet" type="text/css">
  <script charset="utf-8" src="/adminfiles/js/megamenu/megamenu1.js">
  </script>
  <script charset="utf-8" src="/adminfiles/js/megamenu/megamenu2.js">
  </script><!-- added on 11-aug-2017 by abhay prakash -->
</head>
<body>
  <form>
    <input id="baseurl" type="hidden" value="/admin/trail"> <input id="dateformatjs" type="hidden" value="dd MM yy"> <input id="loginuserId" name="loginuserId" type="hidden" value="1"> <input id="dragid" type="hidden" value="">
  </form>
  <div id="container">
    <div class="ajax-loader" id="spinner" style="display:none;"><img alt="Loading" id="img-spinner" src="/images/loader2.gif"></div>
    <div class="container">
      <div class="top_wrapper">
        <div class="sitedivclass" id="sitediv">
          <div class="backtosite">
            <a class="back-btn" href="#" id="backtosite" title="Redirect to application">Back To Site</a>
          </div>
          <div class="configlater backtosite" style="display:none;">
            <a class="back-btn" href="javascript:void(0)" onclick="configlater();" title="Configure wizard configuration later">Configure Later</a>
          </div>
        </div>
        <div class="logo" onclick="window.location='#'"></div>
        <div class="wizard_info">
          Configuration Wizard allows you to configure settings that reflect requirements unique to your organization and make your application ready to use.
        </div>
      </div>
      <div class="wrapper">
        <ul class="left_steps">
          <li class="manage_modules inactive" id="manage_modules" onclick="window.location='/admin/trail';">
            <div class="circle">
              1
            </div>
            <div class="circle cir_completed"></div>
            <h4 class="step_title">Modules</h4><span>Enable the modules that are essential to your human resource process by selecting or deselecting them.</span>
            <div class="manage_menu progress">
              In Progress
            </div>
          </li>
          <li class="site_config inactive" id="site_config" onclick="window.location='/admin/configure';">
            <div class="circle">
              2
            </div>
            <div class="circle cir_completed"></div>
            <h4 class="step_title">Site Config</h4><span>Configure the standards used in your organization by providing the site preferences.</span>
            <div class="config_site progress">
              In Progress
            </div>
          </li>
          <li class="organization inactive" id="organization" onclick="window.location='/admin/organisation';">
            <div class="circle">
              3
            </div>
            <div class="circle cir_completed"></div>
            <h4 class="step_title">Organization</h4><span>Provide your organization information to get your system up and running.</span>
            <div class="config_organization progress">
              In Progress
            </div>
          </li>
          <li class="businessunit inactive" id="business_unit" onclick="window.location='/admin/bussiness';">
            <div class="circle">
              4
            </div>
            <div class="circle cir_completed"></div>
            <h4 class="step_title">Business Units</h4><span>Configure business unit and departments in your organization.</span>
            <div class="config_dept progress">
              In Progress
            </div>
          </li>
          <li class="servicerequest inactive" id="service_request" onclick="window.location='/admin/services';">
            <div class="circle">
              5
            </div>
            <div class="circle cir_completed"></div>
            <h4 class="step_title">Service Request</h4><span>Configure service request settings used in your organization.</span>
            <div class="config_request progress">
              In Progress
            </div>
          </li>
          
        </ul>
        <div class="content_wrapper">
          <div class="total-form-controller">
            <h3 class="step_main_title">Manage Modules</h3>
            <div class='add_emp_new'>
              <a href='#'>Add Employee</a>
            </div>
            <div class="manage-menu-circuit">
              <div class="manage-menu-level-1">
                <div class="hrms-text">
                  Gaplogix
                </div>
                <div class="service-request-inactive">
                  <div class="service-request-menu" id="menu_143" title="Service Request"></div>
                </div>
                <div class="report-inactive">
                  <div class="reports-menu" id="menu_8" title="Analytics"></div>
                </div>
                <div class="times-inactive">
                  <div class="times-active-menu" id="menu_130" title="Time"></div>
                </div>
                <div class="performance-inactive">
                  <div class="performance-active-menu" id="menu_149" title="Appraisals"></div>
                </div>
                <div class="resources-inactive">
                  <div class="resources-active-menu" id="menu_19" title="Talent Acquisition"></div>
                </div>
                <div class="bc-inactive">
                  <div class="bc-active-menu" id="menu_5" title=" Background Check"></div>
                </div>
              </div>
            </div>
            <div class="menu-explain-data">
              <div class="menu-text" style="display:none;">
                You can manage your Gaplogix system by selecting or de-selecting the below modules.
              </div>
              <div class="diagram-details">
                <div class="active-label">
                  <b></b><span>Active</span>
                </div>
                <div class="inactive-label">
                  <b></b><span>Inactive</span>
                </div>
                <div class="disable-label">
                  <b></b><span>Not Available</span>
                </div>
              </div>
            </div>
            <div class="submit-explain-data">
              <form action="#" id="formid" method="post" name="managemenu">
                <input id="chk_menu" name="chk_menu" type="hidden" value="">
                <div class="new-form-ui-submit" id="savebuttondiv" style="display: none; position: absolute; margin-left: 30px;">
                  <input id="submitbutton" name="submit" type="submit" value="Save">
                </div>
              </form>
            </div>
            <div class="nxt_pre_button nxt_pre_button2">
              <button class="next_butt" id="next" name="next" onclick="window.location='/admin/configure';" type="button">Next</button>
            </div>
          </div>
          <script src="/adminfiles/js/megamenu/megamenu3.js" type="text/javascript">
          </script>
        </div>
        <div style="clear: both;"></div>
      </div>
    </div>
    <script src="/adminfiles/js/jquery.form_3.39.js" type="text/javascript">
    </script> <!-- added on 11-aug-2017 by abhay prakash -->
    <script src="/adminfiles/js/jquery.blockUI_2.64.js" type="text/javascript">
    </script> <!-- added on 11-aug-2017 by abhay prakash -->
    <script src="/adminfiles/js/megamenu/megamenu4.js" type="text/javascript">
    </script> <!-- added on 11-aug-2017 by abhay prakash -->
  </div>
</body>
</html>