<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="expires" content="0">
<meta name="msapplication-tap-highlight" content="no" /> 
<title>Gaplogix - Open Source HRMS</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8 " />
<meta http-equiv="Content-Language" content="en-us" /><link rel="stylesheet" type="text/css"  href="/adminfiles/css/select2.css"/>

<link rel="shortcut icon" href="/images/favicon.ico?v=2" />
<link rel="stylesheet" type="text/css"  href="/adminfiles/css/select2.css"/>
<link href="/adminfiles/css/jquery-ui-1.8.16.custom.css" media="screen" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="/adminfiles/css/tablecss.css" />
<link href="/adminfiles/css/jquery.alert.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/style.css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/wizard_css.css" />
<link rel="stylesheet" type="text/css" href="/adminfiles/css/jquery.maxlength.css" />

<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<!--[if IE 9]>  
<link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie9.css">  
<![endif]-->  

<!--[if IE 8]>  
<link rel="stylesheet" type="text/css" href="http://192.168.1.85/gaplogix/public/media/css/ie8.css">  
<![endif]-->  

<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->

<script type="text/javascript" src="/adminfiles/js/jquery-1.7.1.min.js"></script> 
<script type="text/javascript" src="/adminfiles/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/adminfiles/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="/adminfiles/js/hrms.js"></script> 
<script type="text/javascript" src="/adminfiles/js/hrmsv2.js"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/ajaxupload.3.5.js"></script>
<!-- start of time picker -->
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.ui.timepicker.js?v=0.3.2"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.plugin.js"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.maxlength.js"></script>
<script type="text/javascript" src="/adminfiles/js/jquery.simplyscroll.js"></script> 
<script type="text/javascript" language="javascript" src="/adminfiles/js/jquery.alert.js"></script>
<link href="/adminfiles/css/jquery.ui.timepicker.css" rel="stylesheet" type="text/css" />
<!-- end of time picker -->
<script  language="JavaScript" type="text/javascript" src="/adminfiles/js/select2.js" ></script>
<!-- <script type="text/javascript" language="javascript" src="js/facescroll.js"></script>-->
<!--  <script type="text/javascript" language="javascript" src="js/jquery.ui.touch-punch.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="/adminfiles/css/custom.css" />
<link rel="stylesheet" href="/adminfiles/css/uniform.css" type="text/css" media="screen" />

<script type="text/javascript" language="javascript" src="/adminfiles/js/services/service.js"></script>
<script type="text/javascript" language="javascript" src="/adminfiles/js/services/service0.js"></script>

</head>


<input type= "hidden" value= "/admin/trail" id = "baseurl" />
<input type= "hidden" value= "dd MM yy" id = "dateformatjs" />
<input type= "hidden" value= "1" id = "loginuserId" name = "loginuserId" />
<input type= "hidden" value= "" id = "dragid" />

<body class="wizard_bg">
<div id="container">
    <div id="spinner" class="ajax-loader" style="display:none;" >
    <img id="img-spinner" src="/images/loader2.gif" alt="Loading" />               
    </div>
    
    <div class="container">
        <div class="top_wrapper">
            <div id="sitediv" class="sitedivclass">
                <div class="backtosite">
                    <a class="back-btn" href="#" id="backtosite" title="Redirect to application">Back To Site</a>
                </div>
            
                <div class="configlater backtosite" style="display:none;">
                    <a href="javascript:void(0)" class="back-btn" onclick="configlater();" title="Configure wizard configuration later">Configure Later</a>
                </div>
            </div>

            <div class="logo" onclick="window.location='#'"></div>

            <div class="wizard_info">
                Configuration Wizard allows you to configure settings that reflect requirements unique to your organization and make your application ready to use.
            </div>
        </div>
        <div class="wrapper">
            <ul class="left_steps">
                <li class="manage_modules inactive" id="manage_modules" onclick="window.location='/admin/trail';">
                    <div class="circle">1</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Modules</h4>
                    <span>Enable the modules that are essential to your human resource process by selecting or deselecting them.</span>
                    <div class="manage_menu progress">In Progress</div>
                </li>

                <li class="site_config inactive" id="site_config" onclick="window.location='/admin/configure';">
                    <div class="circle">2</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Site Config</h4>
                    <span>Configure the standards used in your organization by providing the site preferences.</span>
                    <div class="config_site progress">In Progress</div>
                </li>

                <li class="organization inactive" id="organization" onclick="window.location='/admin/organisation';">
                    <div class="circle">3</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Organization</h4>
                    <span>Provide your organization information to get your system up and running.</span>
                    <div class="config_organization progress">In Progress</div>
                </li>

                <li class="businessunit inactive" id="business_unit" onclick="window.location='/admin/bussiness';">
                    <div class="circle">4</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Business Units</h4>
                    <span>Configure business unit and departments in your organization.</span>
                    <div class="config_dept progress">In Progress</div>
                </li>

                <li class="servicerequest inactive" id="service_request" onclick="window.location='/admin/services';">
                    <div class="circle">5</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Service Request</h4>
                    <span>Configure service request settings used in your organization.</span>
                    <div class="config_request progress">In Progress</div>
                </li>
                                
            <!--  <li class="management_details inactive">
                    <div class="circle">4</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">Management Details</h4>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text
                    of the printing.</span>
                </li>
                <li class="hr_manager inactive">
                    <div class="circle">5</div>
                    <div class="circle cir_completed"></div>
                    <h4 class="step_title">HR Manager</h4>
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum is simply dummy text
                    of the printing.</span>
                </li>-->
            </ul>
            <div class="content_wrapper">
                <!-- service.js file -->
                <script src="/adminfiles/js/services/service1.js"></script>
			 	
                <div class="total-form-controller">
                    <div id="error_message" style="display:none;"></div>
                    <h3 class="step_main_title">Service Request Categories And Requests</h3>
                    <div class='add_emp_new'><a href='http://192.168.1.85/gaplogix/index.php/employee'>Add Employee</a></div>	
                    <form name="wizard_category_settings" id="wizard_category_settings" action="http://192.168.1.85/gaplogix/index.php/wizard/configureservicerequest" method="POST" class="step_form">
                		<div class="form-ui">
                            <label class="required">Category</label>
                            <select id="category_id" name="category_id">
                                <option  value="">Select Category</option>
                                <option value="1" >Truking</option>
                            </select>
                			<span onclick="displayPopup('categorydiv','Category');" class="add-coloum">Add Category</span>
                		</div>
				
			            <div id="multi_dept_div">
							<div id='parent_0' class="add_request">
					            <div class="form-ui">
		                          <label class="required">Request Type </label>
							      <input type="text" maxlength="100" value="" id="requesttype_0" name="requesttype[]" class='cls_service_request_name' onblur='validateTextInput(this,"request type")' onkeyup='validateTextInput(this,"request type")'>
                                </div>
		        	
            		        	<div class="form-ui form-ui-textarea">
                                    <label class="">Description </label>
            						<textarea maxlength="100" cols="50" rows="10" id="description_0" name="description[]" class='cls_address'></textarea>
            		        	</div>
	        	            </div>
	        	            <span id="add-candidate"><span class="sprite candidate-new" onclick="addRequestTypeDiv()">Add Request Type</span></span>        	
         	            </div>
           	
        	            <input type="hidden" value="0" id="idcount"/>
        	            <span id="errors-maxdiv" class="errors"></span>	
        	
                    	<div class="new-form-ui-submit mrgetop60">
            				<button onclick="validateRequestTypeOnSubmit(this)" type="button" id="submitbuttons" name="submitbutton">Save</button>	
            			</div>
                    </form>		
                </div>		

                <div id="categorydiv" style="display: none; ">	
                    <div class="total-form-controller" >	
                    	<div id="successdiv" style="display:none;">
                        	<div class='ml-alert-1-success'>
                            	<div class='style-1-icon success'></div>
                        		Category added succesfully
                    	    </div>
                		</div>	

    	                <div id="error_message" style="display:none;"></div>

    	                <div id="contentdiv">  		
                    		<div class="new-form-ui ">
                            	<label class="required">Category</label>
                            	<div class="division">
                    				<input type="text" onkeyup="validateTextInput(this,'category')" onblur="validateTextInput(this,'category')" name="category" id="category" value="" maxlength="100">
                    			</div>
                        	</div>

                			<div class="new-form-ui textareaheight">
                                <label class="">Description </label>
                	            <div class="division">
                					<textarea name="description" id="description"></textarea>
                			    </div>
                			</div>
				        	
                			<div class="new-form-ui-submit">
                						
                				<input type="button" value="Save" id="submitcategory" name="submitcategory" onclick="saveCategory()"/>																	
                				<button name="Cancels" id="Cancels" type="button" onclick="closeDialogPopup('categorydiv')">Cancel</button>				
                			</div>
		                </div>  
	                </div>
                </div>
	           <!-- service2.js file -->
                <script type="text/javascript" src="/adminfiles/js/services/service2.js"></script>    

                <div class="nxt_pre_button">
                    <button class="Prev_butt" name="prev" id="prev" type="button" onclick="window.location='/admin/bussiness';">Prev</button>
                </div>

			</div>		            
		    <div style="clear: both;"></div>
        </div>
    </div>

    <script type="text/javascript" src="/adminfiles/js/jquery.form_3.39.js"></script>
    <!-- added on 07-aug-2013 by rama krishna -->
    <script type="text/javascript" src="/adminfiles/js/jquery.blockUI_2.64.js"></script>
    <!-- added on 07-aug-2013 by rama krishna -->

    <script type="text/javascript" src="/adminfiles/js/services/service3.js"></script>

</body>
</html>